@import "variables";

.swd-container {
    max-width: 1220px;
    max-width: 76.25rem;
    margin: 0 auto;
    padding: 0 20px;
    @include box-sizing();
}

.swd-text-align-right {
    text-align: right;
}

.swd-text-align-center {
    text-align: center;
}

.swd-display-inline-block {
    display: inline-block;
}

.swd-dark-teal {
    background-color: $color-dark-teal-background;
}
.swd-teal {
    background-color: $color-teal-background;
}

.swd-purple {
    background-color: $color-purple-background;
}

.swd-yellow {
    background-color: $color-yellow-background;
    color: $color-text-black;
}

.swd-dark-grey {
    background-color: $color-dark-grey-background;
    color: $color-text-white;
}

.swd-light-grey {
    background-color: $color-light-grey-background;
    color: $color-text-black;
}

.swd-black {
    background-color: $color-black-background;
}

.swd-get-in-touch {
    @include font-size(1.4);
    text-transform: uppercase;
    @extend .open-sans-semi-bold;
    font-weight: bold;
    letter-spacing: -0.5px;
    padding: 12px 25px;
    @include button-radius();
    color: $color-white-links;
}

.swd-social-padding {
    padding: 10px 20px 6px;
}

.swd-section {
    padding: 125px 0;
}

.swd-section-extra {
    padding: 245px 125px;
    @include box-sizing();
}

.swd-fixed-height {
    height: 315px;
}

.swd-fixed-height-margin-bottom {
    margin-bottom: 25px;
}

.swd-process-container {
    padding: 40px 25px;
    background-color: $color-white-background;
    width: 80%;
    height: 100%;
    @include box-sizing();
}

.swd-postion-relative {
    position: relative;
}

.swd-postion-absolute {
    position: absolute;
}

.swd-align-vertical-center {
    bottom: 0;
    left: 50%;
    margin-left: -40%;
}

.swd-h3-style {
    @include font-size(1.25);
}