.home_page{
  header.swd-header {

    /*margin-top: -$body-padding-top;*/
    /*top:175px;*/
  }
}
.swd-header {
  padding: 15px 0 10px 25px;
  position: fixed;
  top: 118px;
  @include box-sizing();
  width: 100%;
  background-color: $color-white-background;
  margin-top: -$body-inner-padding;
  z-index: 100;
  @include transition(all, 250ms, linear);
  @media #{$phone}{
    top: 0;
  }
  .social-container {
    visibility:hidden;
    opacity:0;
    height: 0;
    z-index: -11;
    @include transform( translateX(-30px));
    @include transition(all, 250ms, linear);

    &._show {
      visibility: visible;
      opacity: 1;
      z-index: 0;
      height: auto;
      @include transform( translateX(0px))
    }
  }

  .swdSocial {
    display: inline-block;
    background-color: $color-dark-teal-background;
    padding: 7px 18px 0;

    a {
      padding: 0 3px;
      @include font-size(1.4);
    }
  }
  &.nav-up{

    top: 0px;
    @media #{$ipad}{
      top: 118px;
    }
    @media #{$phone}{
      top: 0;
    }

  }
  &.nav-down{

    top: 118px;
    @media #{$phone}{
      top: 0;
          padding-left: 5px;
    }


  }
}
@include sm-range {
  .swd-header .social-container{
    pointer-events: all;
  }
}
//pixels 767px
@include sm-range {

  .swd-header {
    margin-top: 0;
    position: relative;
    padding: 0px 0 20px 5px;

    .swdSocial {
          padding: 0;
      a {
        @include font-size(1.2);
    padding: 5px;
    line-height: 1;
    display: inline-block;
    width: 25px;
    text-align: center;
    
     margin: 6px;
      }
    }

    .social-container {
      visibility:visible;
      opacity:1;
      height: auto;
       @include transform(translateX(0));
           z-index: 0;
    }
  }

  .swdButton {
    @include font-size(0.85);
    padding: 12px 15px;
  }
}