.testimonials {
    position: relative;
    
    h1, h2 , .heading_style1 {
        @extend .open-sans-light;
        @include font-size(1.7);
        text-transform: none;
        margin: 0 0 36px;
            line-height: 1.38;
    }
    
    p {
        line-height: 28px;
    }
    
    .owl-stage-outer {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 85.000em) {
    
    .testimonials {
    
        h1, h2 , .heading_style1 {
            @include font-size(1.5);
            line-height: 30px;
            text-transform: none;
            margin: 0 0 15px;
        }
        
        p {
            @include font-size(1.2);
        }
    }
}