.swd-opacity {
    transition: opacity 0.5s ease;
}

.swd-opacity:hover {
    opacity: .75;
}

.swd-zoom {
    transition: transform 0.5s ease;
}

.swd-zoom:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 4s;
}

.preloader {
    background-color: $color-purple-background;
    position: fixed;
    width: 150%;
    height: 150vh;
    z-index: 9999;
    right: -25%;
    top: -25%;
    -webkit-box-shadow: inset 0.86em 0 0 rgba(103, 43, 134, 0.5), inset 0 0.86em 0 rgba(251, 208, 83, 0.5), inset -0.86em 0 0 rgba(51, 51, 54, 0.5),	inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);
    -moz-box-shadow: inset 0.86em 0 0 rgba(103, 43, 134, 0.5), inset 0 0.86em 0 rgba(251, 208, 83, 0.5), inset -0.86em 0 0 rgba(51, 51, 54, 0.5),	inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);
    box-shadow: inset 0.86em 0 0 rgba(103, 43, 134, 0.5), inset 0 0.86em 0 rgba(251, 208, 83, 0.5), inset -0.86em 0 0 rgba(51, 51, 54, 0.5),	inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);
    transition: box-shadow 0.5s, opacity 0.3s, visibility 0.3s;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -mox-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: contents;
}

.preloader-loading {
    -webkit-box-shadow: inset 40em 0 0 rgba(30, 140, 209, 0.2), inset 0 40em 0 rgba(30, 140, 209, 0.2), inset -40em 0 0 rgba(30, 140, 209, 0.2), inset 0 -40em 0 rgba(30, 140, 209, 0.2);
    -moz-box-shadow: inset 40em 0 0 rgba(30, 140, 209, 0.2), inset 0 40em 0 rgba(30, 140, 209, 0.2), inset -40em 0 0 rgba(30, 140, 209, 0.2), inset 0 -40em 0 rgba(30, 140, 209, 0.2);
    box-shadow: inset 40em 0 0 rgba(30, 140, 209, 0.2), inset 0 40em 0 rgba(30, 140, 209, 0.2), inset -40em 0 0 rgba(30, 140, 209, 0.2), inset 0 -40em 0 rgba(30, 140, 209, 0.2);
    opacity: 1;
    visibility: visible;
    transition-delay: 300ms;
}

.slidersss:after, .slidersss:before {
    height: 51vh;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: $color-purple-background;
    z-index: 9999;
    content: '';
    transition: transform 600ms ease;
}

.slidersss:before {
    top: 0;
    transform: translateY(-100%);
}

.slidersss:after {
    bottom: 0;
    transform: translateY(100%);
}

.slidersss-test:before, .slidersss-test:after {
    transform: translateY(0);
    transition-duration: 250ms;
}

//.slidersss {
//    background-color: $color-dark-grey-background;
//    position: fixed;
//    width: 1vw;
//    height: 1vh;
//    z-index: 9999;
//    right: 0;
//    top: 0;
//    transform: scale(0, 0);
//    visibility: hidden;
//}
//
//
//.slidersss-animation {
//    animation-name: example;
//    animation-duration: 500ms;
//    animation-iteration-count: 1;
//    visibility: visible;
//}
//
//.slidersss-animation-sec {
//    animation-name: example-sec;
//    animation-duration: 200ms;
//    animation-iteration-count: 1;
//}
//
//@keyframes example {
//    0%   {transform: scale(0, 1000)};
//    20% {transform: scale(100, 1000)};
//    40% {transform: scale(1000, 1000)};
//    60% {transform: scale(5000, 1000)};
//    80%, 100% {transform: scale(10000, 1000)};
//}
//
//@keyframes example-sec {
//    0%  {transform: scale(10000, 1000)};
//    20% {transform: scale(1000, 1000)};
//    50% {transform: scale(100, 1000)};
//    80% {transform: scale(0, 1000)};
//    100% {transform: scale(0, 0)};
//}