.swd-opacity {
    @include transition(transform, 300ms, ease);
}

.swd-opacity:hover {
    opacity: .75;
}

.swd-zoom {
    @include transition(transform, 300ms, ease);
    @include transform(scale(1.01, 1.01));
}

.swd-zoom:hover {
    @include transform(scale(1.1, 1.1));
}

.slider > .after, .slider > .before {
    height: 51%;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: $color-purple-background;
    z-index: 9999;
    content: '';
    @include transition(transform, 600ms, ease);
}

.slider > .before {
    top: 0;
    @include transform(translateY(-100%));
}

.slider > .after {
    bottom: 0;
    @include transform(translateY(100%));
}

.slider-overlay > .before, .slider-overlay > .after {
    @include transform(translateY(0));
    @include transition-duration(250ms);
}