.h-relative {
    position: relative;
}

.swd-postion-absolute {
    position: absolute;
}

.swd-hidden {
    display: none;
}
.swd-link:hover{
  color: $color-border-bottom-teal;
}
.h-icon-position-center {

    @include sm-range {
        text-align: center;
        display: block;
        padding: 40px 10px 40px;
    }

    @include md-endless-range {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@include sm-range {

    .swdMobileHidden {
        display: none;
    }
}

@include md-endless-range {
    .pure-u-md-1-3--chromeFix32 {
        width: 33.4% !important;
    }

    .pure-u-md-1-3--chrome {
        width: 33.3% !important;
    }
}

.h-fireFox-height-bug-fix {
    visibility: hidden;
}

@include ms-md-range {
    .h-fireFox-height-bug-fix {
        display: none;
    }
}