.swd-opacity {
    @include transition(transform, 300ms, ease);
}

.swd-opacity:hover {
    opacity: .75;
}

.swd-zoom {
    @include transition(transform, 300ms, ease);
    @include transform(scale(1.01, 1.01));
    -webkit-backface-visibility: hidden;
}

.swd-zoom:hover {
    @include transform(scale(1.1, 1.1));
}

.slider > .after, .slider > .before {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: $color-purple-background;
    z-index: 9999;
    content: '';
    @include transition(all, 1000ms, ease);
    opacity: 0;
      pointer-events:none;
}

.slider > .before {
    top: 0;
   /* @include transform(scaleX(0) skewX(20deg));*/
        transform-origin: left
}

.slider > .after {
    bottom: 0;
    @include transform(translateY(100%));
    display:none;
}

.slider-overlay > .before, .slider-overlay > .after {
   /* @include transform(scaleX(1) skewX(20deg));*/
    @include transition-duration(250ms);
       /* transform-origin: right;*/
       opacity: 1;
}