.swdContainer {
    max-width: 1220px;
    max-width: 76.25rem;
    margin: 0 auto;
    padding: 0 20px;
    @include box-sizing();
}

.swdContainer-large {
    max-width: 1700px;
    max-width: 106.3rem;
}

.swdAlignRight {
    text-align: right;
}

.swdAlignCenter {
    text-align: center;
}

.swdInlineBlock {
    display: inline-block;
}

.swdButton {
    @include font-size(1.4);
    text-transform: uppercase;
    @extend .open-sans-semi-bold;
    font-weight: bold;
    letter-spacing: -0.5px;
    padding: 12px 25px;
    @include button();
    color: $color-white-links;
    @include transition(background-color, 0.5s, ease-in-out);
    display: inline-block;
    background-color: $color-teal-background;
    
    &:active {
        box-shadow: 0 0 0 $color-border-bottom-teal;
        @include transform(translateY(2px));
    }
    
    &:hover {
        background-color: $color-dark-grey-background;
    }
}

.swdButton--sm {
    @include font-size(1.2);
    padding: 4px 25px;
}

.swd-fixed-height {
    height: 315px;
}

.swd-fixed-height-margin-bottom {
    margin-bottom: 25px;
}

.swd-process-container {
    padding: 40px 25px;
    background-color: $color-white-background;
    width: 80%;
    height: 100%;
    @include box-sizing();
}

.swd-postion-relative {
    position: relative;
}

.swd-postion-absolute {
    position: absolute;
}

.swd-align-vertical-center {
    bottom: 0;
    left: 50%;
    margin-left: -40%;
}

.swd-h3-style {
    @include font-size(1.2);
}

.swd-hidden {
    display: none;
}

.swd-img {
    width: 100%;
    display: block;
}

.lead {

    @include ms-lg-range {
        @include font-size(1.5);
    }

    @include l-desktop {
        @include font-size(2.2);
    }
    line-height: 1.4;
}

.swd-position-centered {

    @include sm-range {
        padding: 60px 20px;
    }

    @include md-endless-range {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
    }
}

.swd-position-centered--removeMd {

    @include md-range {
        padding: 125px 60px;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        width: 88%;
    }

    @include desktop-range {
        width: 90%;
    }
}

.swd-text-center {
    text-align: center;
}