//pixels 767px
@media screen and (max-width: 47.99em) {
    h1 {
        font-size: 145%;
    }
    
    h2 {
        font-size: 135%;
        margin-bottom: 15px;
    }
    
    .swdMobileHidden {
        display: none;
    }
    
    /*.swd-contactForm, .swd-contactForm.swd-hidden {
        max-height: 1500px;
        opacity: 1;
        overflow: auto;
        transition: all 1.25s ease-in-out 0s;
        visibility: visible;
    }*/
    
    .swd-footer {
       
        .swd-footer-title-section {
            
            p {
                font-size: 115%;
            }
        }
    }
}


@media screen and (min-width: 48.000em) and (max-width: 63.938em) {
    

}

@media screen and (max-width: 35.49em) {
    
    .swd-process-container {
        width: 100%;
        padding: 40px 20px;
    }
    
    .swd-align-vertical-center {
        left: 0;
        margin-left: 0;
    }
    
    .swd-fixed-height-margin-bottom {
        padding: 0 20px;
        @include box-sizing();
        
        .swd-postion-absolute {
            position: relative;
        }
    }
    
    .swd-section-extra {
        padding: 245px 0;
    }
    
    .swd-section-what-we-promise-right {
        padding: 80px 0;
        
        ul {
            
            li {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    
    .swd-footer {
        
        .swd-footer-copyright {
            
            p {
                @include font-size(1);
            }
        }
        
        .swdSocial {
            display: none;
        }
    }
}