@import "variables";

.testimonials {
    position: relative;
    
    h1, h2 {
        @extend .open-sans-light;
        @include font-size(2.2);
        text-transform: none;
        margin: 0 0 36px;
    }
    
    p {
        line-height: 28px;
    }
    
    .owl-stage-outer {
        margin-bottom: 35px;
    }
    
    .owl-controls {
        
        /*.owl-prev:before, .owl-next:before {
            font-family: swdfa;
            font-style: normal;
            font-weight: normal;
            @include font-size(2.763);
        }
        
        .owl-prev {
            
            &:before {
                top: 25%;
                content: '\E002';
                left: -100px;
                position: absolute;
            }
        }
        
        .owl-next {
            
            &:before {
                top: 25%;
                content: '\E005';
                right: -100px;
                position: absolute;
            }
        }*/
    }
}

@media screen and (max-width: 85.000em) {
    
    .testimonials {
    
        h1, h2 {
            @include font-size(1.5);
            line-height: 30px;
            text-transform: none;
            margin: 0 0 15px;
        }
        
        p {
            @include font-size(1.2);
        }
    }
}