@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}

@mixin vertical-align {
    position: relative;
         top: 25%;
}

@mixin button($border-color: $color-border-bottom-teal ) {
    -webkit-box-shadow: 0 2px 0 $border-color;
       -moz-box-shadow: 0 2px 0 $border-color;
            box-shadow: 0 2px 0 $border-color;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
         transform: $transforms;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
       -moz-transition: $transition-property $transition-time $method;
        -ms-transition: $transition-property $transition-time $method;
         -o-transition: $transition-property $transition-time $method;
            transition: $transition-property $transition-time $method;
}

@mixin transition-duration($transition-time) {
    -webkit-transition-duration: $transition-time;
    -moz-transition-duration: $transition-time;
    -ms-transition-duration: $transition-time;
    -o-transition-duration: $transition-time;
    transition-duration: $transition-time;
}

@mixin heightAnimation() {
    display: block;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

@mixin arrowPosition {
    right: auto;
    top: auto;
    bottom: -53px;
    left: 45%;
}

@mixin swd-cardsFace ($background: $color-white-background, $padding: 20px 15px) {
    position: absolute;
    top: 0;
    left: 0;
    padding: $padding;
    background-color: $background;
    width: 100%;
    @include swd-cardsHeight();
    text-align: center;
    @include box-sizing();
}

@mixin swd-cardsHeight () {
    height: 315px;
}