.swd_c_study{
  .h1-section{
    width: 85%;
    @media #{$ipad-all}{
      position:static;
      transform: none;
      -webkit-transform: none;
      -ms-transform: none;
      -moz-transform: none;
      margin: 0 auto;
      padding: 40px 0;
      height: auto;
    }
    .swdButton {
    margin-top: 15px;
}
  }
  .study_logo{
    width: 20%;
    display: block;
    margin: 0 auto;
    &.sp{
      width: 30%;
    }
    &.sm{
      width: 50%;
    }
    &.po{
      width: 22%;
    }
    &.md{
      width: 40%;
    }
     &.bm{
      width: 43%;
    }
     &.ks{
      width: 45%;
    }
  }
  h1 , .h_tag1{
    text-transform: none;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 4%;
    @media #{$ipad}{
      font-size: 1.2rem;
    }
    @media #{$ipad-all}{
      font-size: 1.8rem;
    }
    @media #{$phone}{
      font-size: 1.2rem;
    }

  }
  .left_info{

  }
  .swdSection-yellow {
    .study_link{
      color:$color-black-background;
    }
  }
  .study_link{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
  }
  &.s_content{
    h1 , .h_tag1{
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 5%;
    }
    p{
      font-size: 1rem;
      line-height: 1.5;
      @media #{$ipad}{
        font-size: 0.9rem;
      }
      @media #{$ipad-all}{
        font-size: 1.5rem;
      }
       @media #{$phone}{
        font-size: 1rem;
      }
    }
  }
  .pure-u-md-1-2 , .pure-u-md-2-3 , .pure-u-1-1{
    @media #{$ipad-all}{
      width:100%;
    }
  }
  .pure-u-1-2.c-img__container{
    @media #{$ipad-all}{
      width:50%;
    }
  }
}
.swdSection-lightGrey{
    .study_link{
      color:$color-black-background;
    }
  }
.c_back_image{
      display: inline-block;
  &.c_llc{
    background: url("../img/casestudy/llc_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_llc2{
    background: url("../img/casestudy/llc_image5.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_sp{
    background: url("../img/casestudy/sp_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_sp2{
    background: url("../img/casestudy/sp_image5.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_sp3{
    background: url("../img/casestudy/sp_image8.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_sm{
    background: url("../img/casestudy/sm_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_sm2{
    background: url("../img/casestudy/sm_image5.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_sm3{
    background: url("../img/casestudy/sm_image8.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_cs{
    background: url("../img/casestudy/cs_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_cs2{
    background: url("../img/casestudy/cs_image5.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_cs3{
    background: url("../img/casestudy/cs_image9.jpg")center no-repeat;
       background-size: cover;
  }
  &.c_ab{
    background: url("../img/casestudy/ab_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_ab2{
    background: url("../img/casestudy/ab_image5.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_ab3{
    background: url("../img/casestudy/ab_image8.jpg")center no-repeat;
       background-size: cover;
  }
  &.c_po{
    background: url("../img/casestudy/po_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_po2{
    background: url("../img/casestudy/po_image5.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_po3{
    background: url("../img/casestudy/po_image8.jpg")center no-repeat;
        background-size: cover;
  }
   &.c_md{
    background: url("../img/casestudy/md_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_md2{
    background: url("../img/casestudy/md_image5.jpg")center no-repeat;
    background-size: cover;
   
    
  }
  &.c_md3{
    background: url("../img/casestudy/md_image8.jpg")center no-repeat;
      background-size: cover;
  }
   &.c_bm{
    background: url("../img/casestudy/bm_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_bm2{
    background: url("../img/casestudy/bm_image5.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_bm3{
    background: url("../img/casestudy/bm_image8.jpg")center no-repeat;
      background-size: cover;
  }
  &.c_ks{
    background: url("../img/casestudy/ks_image4.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_ks2{
    background: url("../img/casestudy/ks_image5.jpg")center no-repeat;
    background-size: cover;
  }
  &.c_ks3{
    background: url("../img/casestudy/ks_image8.jpg")center no-repeat;
        background-size: cover;
  }

}
/*.c_back_image.c_md2 , .c_back_image.c_ks2 ,.c_back_image.c_bm2 , .c_back_image.c_po2 , .c_back_image.c_ab2 , 
.c_back_image.c_cs2 , .c_back_image.c_sm2 , .c_back_image.c_sp2 , .c_back_image.c_llc2{
   @media #{$ipad-all}{
      width:100%;
    }
}*/
.mdd_contain{
      background: url(/img/casestudy/md_image0.jpg) no-repeat center center;
    background-size: contain;
}
.case_ppl_say{
  p{
    @media #{$ipad-all}{
      font-size: 1.4rem;
      line-height: 1.5;
    }
    @media #{$phone}{
      font-size: 1.1rem;
    }
  }
  h1 , .h_tag1{
    margin-bottom: 40px;
       font-size: 1.7rem;
    @media #{$ipad-all}{
      margin-bottom: 20px;
    }
  }
  h2{
       font-size: 1.7rem;
  }
 
}
.sp_theme_color{
  background-color: #004b94; 
}
.sm_theme_color{
  background-color: #89b11a;
}
.cs_theme_color{
  background-color: #644e3f;
}
.ab_theme_color{
  background-color: #62a2e0;
}
.po_theme_color{
  background-color: #00b44e;
}
.md_theme_color{
  background-color: #e31836;
}
.bm_theme_color{
  background-color: #2fa9df;
  color: #fff;
}
.ks_theme_color{
  background-color: #5fb35f;
  color: #fff;
}