<section class="swdSection contact_us_sec swdSection-purple swdAlignCenter h-relative">
  <div class="swdContainer">
    <h2 class="heading_style1">Contact Us</h2>
    <p>Get in touch with us today and find out how your business can benefit with Say Web Design on your team. Your website is the single most powerful and important resource at your disposal – we’re here to ensure it reaches its full potential.</p>
    <p>Whatever stage your project may be at, we can help. In need of a website? We can bring your vision to life with a powerful new build. Or if it’s simply an overhaul of your current website that’s needed, we can ensure it’s brought up to the highest possible standard to remain competitive. </p>
  <a href="#swd_getQuote" data-swd-speed="1500"  class="swdButton wow fadeInUp swd-scroll">GET A FREE QUOTE</a>
  </div>
</section>

<!--<section class="swdSection contact_us_sec swdSection-yellow swdAlignCenter h-relative">
  <div class="swdContainer">
    <h2 class="heading_style1">Built Around You </h2>
    <p>We acknowledge the fact that no two websites are ever the same, which is why we approach every web design and development project as a 100% unique task. We don’t believe in pre-fab solutions or one-size-fits-all strategies. Whatever it takes to get you and your business where you need to be, you can count on Say Web Design to deliver.</p>
    <p>Our design and development team would be delighted to discuss your project – either by telephone or in person. We recently opened a second office at the heart of Bristol, as part of on-going expansion efforts from our Central London base.</p>
    <p>Give us a call, drop us an email or pay us a visit anytime – we’re waiting to hear from you. </p>
    <a href="#swd_getQuote" data-swd-speed="1500"  class="swdButton wow fadeInUp swd-scroll">GET A FREE QUOTE</a>
  </div>
</section>-->

<section class="pure-g swdSection-darkGrey co_location c-img__container">

  <div class="pure-u-1-1 pure-u-lg-1-2 swdSection-black c-img__container  h-relative wow fadeInUp co_left" data-wow-delay="0.03s" data-wow-offset="250">
    <img src="/img/back_london.jpg" class="swd-img " alt="Web Design Portfolio" title="Web Design Portfolio">
    <div class="swd-position-centered">
      <h2 class="lead swd-text-center heading_style1">London <br/>Web Design</h2>
      <div class="contact_bottom">

        <p class="swd-less-margin">
          <span class="swd-footer-icons swdAlignCenter">e</span>
          <a href="mailto:london@saywebdesign.co.uk">london@saywebdesign.co.uk</a>
        </p>

        <p class="swd-less-margin">
          <span class="swd-footer-icons swdAlignCenter">t</span>
          0203 637 6510
        </p>
        <a href="/our-location-london/" class="swdButton">Read More</a>

      </div>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-lg-1-2 c-img__container h-relative wow fadeInUp co_right" data-wow-delay="0.06s" data-wow-offset="250">
    <img src="/img/back_london2.jpg" class="swd-img " alt="Web Design Portfolio" title="Web Design Portfolio">
    <div class="swd-position-centered">
      <h2 class="lead swd-text-center heading_style1">Bristol <br/>Web Design</h2>
      <div class="contact_bottom">

        <p class="swd-less-margin">
          <span class="swd-footer-icons swdAlignCenter">e</span>
          <a href="mailto:bristol@saywebdesign.co.uk">bristol@saywebdesign.co.uk</a>
        </p>

        <p class="swd-less-margin">
          <span class="swd-footer-icons swdAlignCenter">t</span>
          0117 214 1350
        </p>
        <a href="/our-location-bristol/" class="swdButton">Read More</a>

      </div>
    </div>
  </div>
</section>

<section id="swd_getQuote" class="swdSection contact_us_sec swdSection-purple swdAlignCenter h-relative">
  <div class="swdContainer">
    <h2 class="heading_style1">Get a free quote</h2>
    <p>If you would like a free no obligation quote please fill out the form below for either of our offices and we will get back to you 
      as soon as possible.</p>
    <div class="swd_quote_form">
       <form class="pure-g" id="quoteForm"> 
        <div class="pure-u-1-1 pure-u-lg-1-2 swd-form swd-footer-spacing">
          <input type="text" name="firstName" placeholder="First Name" data-parsley-trigger="change" required="required">
          <input type="text" name="lastname" placeholder="Last Name" data-parsley-trigger="change" required="required">
          <input type="text" name="email" placeholder="Email Address" data-parsley-trigger="email" required="required">
          <input type="tel" name="phone" placeholder="Phone Number" data-parsley-trigger="change" required="required">
          <textarea placeholder="Brief Project details (e.g. objectives and sites you like)" name="project" required="required" data-parsley-trigger="change"></textarea>
        </div>
        <div class="pure-u-1-1 pure-u-lg-1-2 swd-footer-spacing">
          <input type="text" name="companyName" placeholder="Company name (if applicable)" data-parsley-trigger="change" required="required">
          <input type="text" name="currentWebsite" placeholder="Current website (if applicable)" data-parsley-trigger="change" required="required">
          <input type="text" name="companyBased" placeholder="Where are you/Your company based" data-parsley-trigger="change" required="required">
          <div class="swd_budget"> 
            <p>Your Budget</p>
            <ul>
              <li><label><input checked="checked" type="radio" name="swd_budget" value="1-3k" /><span></span>&pound;1-3k</label></li>
              <li><label><input type="radio" name="swd_budget" value="3-5k"/><span></span>&pound;3-5k</label></li>
              <li><label><input type="radio" name="swd_budget" value="5-8k"/><span></span>&pound;5-8k</label></li>
              <li><label><input type="radio" name="swd_budget" value="8-10k"/><span></span>&pound;8-10k</label></li>
              <li><label><input type="radio" name="swd_budget" value="10 plus"/><span></span>&pound;10 plus</label></li>
              <li><label><input type="radio" name="swd_budget" value="20k plus"/><span></span>&pound;20k plus</label></li>
            </ul>
          </div>
        </div>
         <div class="pure-u-1-1 pure-u-lg-1-2 swd-footer-spacing">
             <div class="g-recaptcha" data-sitekey="6LcPQgoUAAAAAO8KcgtW9KZWp0zu8obbOdUhwUl5"></div>
         </div>
		
        <div class="pure-u-1-1 pure-u-md-1-1">
                <button type="submit" class="swdButton swd-footer-form-button quote_submit" id="swd-quoteBtn_js" value="submit">Send</button>
            </div>
      </form>
    </div>
    
      <h2 class="heading_style1">Built Around You </h2>
    <p>We acknowledge the fact that no two websites are ever the same, which is why we approach every web design and development project as a 100% unique task. We don’t believe in pre-fab solutions or one-size-fits-all strategies. Whatever it takes to get you and your business where you need to be, you can count on Say Web Design to deliver.</p>
    <p>Our design and development team would be delighted to discuss your project – either by telephone or in person. We recently opened a second office at the heart of Bristol, as part of on-going expansion efforts from our Central London base.</p>
    <p>Give us a call, drop us an email or pay us a visit anytime – we’re waiting to hear from you. </p>
<!--    <a href="#swd_getQuote" data-swd-speed="1500"  class="swdButton wow fadeInUp swd-scroll">GET A FREE QUOTE</a>-->
  </div>
</section>