<section class="swdSection contact_us_sec swdSection-purple swdAlignCenter h-relative">
  <div class="swdContainer">
    <h2 class="heading_style1">Thank you!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
<!--  <a href="#swd_getQuote" data-swd-speed="1500" data-swd-element="#swd_getQuote"   class="swdButton wow fadeInUp swd-scroll">GET A FREE QUOTE</a>-->
  </div>
</section>