<section class="pure-g swdHero swdSection swdSection-purple">

    <div class="pure-u-1-1">

        <div class="swdContainer swdAlignCenter">

            <img src="img/slider.png" class="pure-img swdAutoWidth swdImage" alt="Say Web Design">

            <div class="owl-carousel-org owl-carousel owl-margin">

                <div>

                    <h1>
                        Here at Say Web Design, we help entrepreneurs and forward thinking companies launch websites that <strong>say</strong> everything they need to <strong>say</strong>!
                    </h1>

                </div>

                <div>
                    <h1>
                        We make things simple. We don't bombard our clients with jargon and always go the <strong>extra mile</strong> to help our clients with all their <strong>digital needs</strong>.
                    </h1>
                </div>

                <div>
                    <h1>
                        We're <strong>good people</strong>! We're behind our clients 100%. We want you to succeed. If you're doing well then we look good! Its <strong>win/win</strong>!
                    </h1>
                </div>

                <div>
                    <h1>
                        We’re <strong>passionate</strong> about digital. We're a web design company and web development <strong>agency</strong> all rolled into a one stop shop.
                    </h1>
                </div>

            </div>

            <div>
                <a href="#swd-footer-js" data-swd-speed="1500" data-swd-element="#swd-contactForm-js" class="swdButton swd-scroll">Talk To Us</a>
            </div>

        </div>

    </div>

</section>

<section class="pure-g swdSection swdSection-yellow">

    <div class="pure-u-1-1">

        <div class="swdContainer">

            <h1 class="swdAlignCenter">
                How We Work
            </h1>

            <div class="pure-g">

                <div class="swdCard pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 wow fadeIn" data-wow-delay="0.1s" data-wow-offset="300">

                    <h2 class="swdAlignCenter">Plan</h2>

                    <div class="flip-container swdTouch-js">

                        <div class="flipper">

                            <div class="front">
                                <i class="cc-icon cc-icon-icon_plan cc-icon-12 cc-icon_large"></i>
                            </div>

                            <div class="back">
                                <p>Communication is Key. We'll work closely with you to pin down what you want and how best to achieve it. We'll put a plan together, a road map which means you won't get lost!</p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="swdCard pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 wow fadeIn" data-wow-delay="0.3s" data-wow-offset="300">

                    <h2 class="swdAlignCenter">Design</h2>

                    <div class="flip-container swdTouch-js">

                        <div class="flipper">

                            <div class="front">
                                <i class="cc-icon cc-icon-icon_design-03 cc-icon-12 cc-icon_large"></i>
                            </div>

                            <div class="back">
                                <!-- back content -->
                                <p>Our designs have soul. We create design because we love it but  we design for results.  We focus on your audience and what they like and focus on building your product around that.</p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="swdCard pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 wow fadeIn" data-wow-delay="0.6s" data-wow-offset="300">

                    <h2 class="swdAlignCenter">Develop</h2>

                    <div class="flip-container swdTouch-js">

                        <div class="flipper">

                            <div class="front">
                                <i class="cc-icon cc-icon-icon_develop cc-icon-12 cc-icon_large"></i>
                            </div>

                            <div class="back">
                                <!-- back content -->
                                <p>We use cutting edge technology to bring your design to life! We have a balanced team of front end and back end developers to create a seamless product that functions as fantastic as it looks.</p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="swdCard pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 wow fadeIn" data-wow-delay="0.9s" data-wow-offset="300">

                    <h2 class="swdAlignCenter">Grow</h2>

                    <div class="flip-container swdTouch-js">

                        <div class="flipper">

                            <div class="front">
                                <i class="cc-icon cc-icon-icon_grow cc-icon-12 cc-icon_large"></i>
                            </div>

                            <div class="back">
                                <!-- back content -->
                                <p>Launching is just the start of the journey! The industry and technology is progressing at a staggering rate. We will work closely with you to optimise and develop your product based on real world use.</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="pure-g swdSection-darkGrey">

    <div class="pure-u-1-1 pure-u-lg-1-2 swdAlignCenter swdSection-extra swd-section-what-we-promise h-relative">

        <h1 class="wow fadeInDown" data-wow-delay="0.1s" data-wow-offset="100">What We Promise</h1>
        <img src="img/other-logo.png" class="pure-img wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="250" alt="">

        <div class="swd-arrow-right swd-postion-absolute swd-right-arrow">
            <i class="cc-fa cc-fa-09-right-dir cc-fa-5"></i>
            <i class="cc-fa cc-fa-06-down-dir cc-fa-5"></i>
        </div>

    </div>

    <div class="pure-u-1-1 pure-u-lg-1-2">

        <div class="pure-g">

            <div class="pure-u-1-1 swdSection-black swd-section-what-we-promise-right h-relative">

                <ul class="wow fadeInDown" data-wow-delay="0.3s" data-wow-offset="400">
                    <li><strong>Show up!</strong> We’ll always be available to talk to you through any questions you have along the way.</li>
                    <li><strong>Help you create</strong> a foundation for your business with a quality digital presence.</li>
                    <li><strong>Ask lots of questions</strong> so we understand you and your business.</li>
                </ul>

                <div class="swd-arrow-right swd-postion-absolute swd-down-arrow">
                    <i class="cc-fa cc-fa-06-down-dir cc-fa-5"></i>
                </div>

            </div>

            <div class="pure-u-1-1 swdSection-purple swd-section-what-we-promise-right h-relative">

                <ul class="wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="200">
                    <li><strong>Make life simple</strong> with jargon free terminology.</li>
                    <li><strong>Be committed</strong> to your vision and build a product we’re proud of.</li>
                    <li><strong>Keep things simple</strong> so your clients have the best user experience.</li>
                </ul>

                <div class="swd-arrow-right swd-postion-absolute swd-left-arrow">
                    <i class="cc-fa cc-fa-01-left-dir cc-fa-5"></i>
                </div>

            </div>

        </div>

    </div>

</section>

<section class="swdSection swdSection-lightGrey swdAlignCenter">

    <div class="swdContainer swdContainer-large">

        <h1 class="swdAlignCenter">What We Offer</h1>

        <div class="pure-g">

            <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.100s" data-wow-offset="300">

                <div class="flip-container flip-container__bottom swdTouch-js">

                    <div class="flipper">

                        <div class="front">
                            <i class="cc-icon cc-icon-icon_web cc-icon-9"></i>
                        </div>

                        <div class="back">
                            <!-- back content -->
                            <p>With such a high number of people viewing websites on their phones, we can make your website respond to whatever screen your audience views it on.</p>
                        </div>

                    </div>

                </div>

                <h2 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Responsive Web Design, Mobile Design</h2>

            </div>

            <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.250s" data-wow-offset="300">

                <div class="flip-container flip-container__bottom swdTouch-js">

                    <div class="flipper">

                        <div class="front">
                            <i class="cc-icon cc-icon-icon_cms cc-icon-9"></i>
                        </div>

                        <div class="back">
                            <!-- back content -->
                            <p>We can make your website editable for you to make content changes whenever you need to. We work with Drupal, Typo3, WordPress and Magento.</p>
                        </div>

                    </div>

                </div>

                <h2 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Content Management Systems</h2>

            </div>

            <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.400s" data-wow-offset="300">

                <div class="flip-container flip-container__bottom swdTouch-js">

                    <div class="flipper">

                        <div class="front">
                            <i class="cc-icon cc-icon-icon_development cc-icon-9"></i>
                        </div>

                        <div class="back">
                            <!-- back content -->
                            <p>Everyone has a website nowadays so we want yours to stand out. We can do that with interactive front end development that engages your audience.</p>
                        </div>

                    </div>

                </div>

                <h2 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Interactive Development</h2>

            </div>

            <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.650s" data-wow-offset="300">

                <div class="flip-container flip-container__bottom swdTouch-js">

                    <div class="flipper">

                        <div class="front">
                            <i class="cc-icon cc-icon-icon_design-10 cc-icon-9"></i>
                        </div>

                        <div class="back">
                            <!-- back content -->
                            <p>We can create you a logo and brand guideline which will not only make you look good, but professional as well. We can transfer these guidelines to your website.</p>
                        </div>

                    </div>

                </div>

                <h2 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Visual Branding & Creative Design</h2>

            </div>

            <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.800s" data-wow-offset="300">

                <div class="flip-container flip-container__bottom swdTouch-js">

                    <div class="flipper">

                        <div class="front">
                            <i class="cc-icon cc-icon-icon_seo cc-icon-9"></i>
                        </div>

                        <div class="back">
                            <!-- back content -->
                            <p>We build all of our websites to be SEO friendly but we can also help with driving people to your website so you are noticed in Google.</p>
                        </div>

                    </div>

                </div>

                <h2 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Search Engine Optimisation</h2>

            </div>

            <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.950s" data-wow-offset="300">

                <div class="flip-container flip-container__bottom swdTouch-js">

                    <div class="flipper">

                        <div class="front">
                            <i class="cc-icon cc-icon-icon_market cc-icon-9"></i>
                        </div>

                        <div class="back">
                            <!-- back content -->
                            <p>We add Google analytics to all of our websites so you can see how many people are viewing your site. We will help analyse that data so you can see where improvements could be made.</p>
                        </div>

                    </div>

                </div>

                <h2 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Market Insight</h2>

            </div>

        </div>

    </div>

</section>

<section class="swdSection swdSection-yellow swdAlignCenter">

    <div class="swdContainer swd-whoWeAre">

        <h1>Who We Are</h1>
        <p>We’re a London based web design and web development agency.
            We work with a network of designers and developers to bring the
            right set of skills to build your business.</p>

        <!--div class="swd-hidden" id="swd-readMore">

            <img class="pure-img" src="img/img.gif" alt="">

            <p>We're like a ready-made start up team that's here just for you!
                With years of industry experience, our team can create exciting
                new digital services to help grow your on-line business. Focusing on
                results, we use our technical skill and industry insight to help you meet your
                digital goals.</p>

            <p>We have built honesty and integrity into our core values.
                Our founder believes in customer service and client satisfaction.
                We want to build a site that you are completely happy with and we
                don’t want anything to get in the way of creating something special.
                We understand that not all clients are tech savvy and that using a
                lot of jargon can cause confusion or miscommunication. We are here
                to see that doesn’t happen! We make sure we are as clear and as
                transparent as possible from our first talk, to the launch
                of your site and beyond.
            </p>

            <p>If you like the idea of being put first and having a team of people that are just as passionate about your project, then get in touch...</p>

        </div-->

        <div>
            <a href="/who-we-are.html" class="swdButton arrow-box_down">
                <span class="swd-readBtn_more">Read More</span>
                <!--span class="swd-readBtn_less">Read Less</span-->
            </a>
        </div>

    </div>

</section>

<section class="pure-g swdSection swdSection-purple">

    <div class="pure-u-1-1">

        <div class="swdContainer swdAlignCenter">

            <h1>What People Say</h1>

            <div class="testimonials">

                <div class="owl-carousel-org owl-carousel">

                    <div>

                        <h1>
                            "Say Web Design created a visually distinctive and cutting-edge site that was also reliable and affordable too. We worked with Lorraine who understood our business needs and delivered. They are always available to us and give great advice. Very happy."
                        </h1>

                        <p>
                            John Squibb / CEO Pomarina <br>
                            <a href="http://www.pomarina.com" target="_blank">www.pomarina.com</a>
                        </p>

                    </div>

<!--                    <div>

                        <h2>
                            "Say Web design helped us create a custom social media site which has many layers and complex functionality. Great people always willing to go the extra mile in order to build a fantastic product. I can rely on them to be there when we need them especially with any technical queries. Brilliant work."
                        </h2>

                        <p>
                            Carl Dennie / Founder of Would Love To Go <br>
                            <a href="https://www.wouldlovetogo.com" target="_blank">www.wouldlovetogo.com</a>
                        </p>

                    </div>-->
<div>

                        <h2>
                           "Say Web Design have been fundamental in LLC's success. They have worked extremely closely with us to create that bespoke website look, that makes us stand out from our competitors. Say Web Designs manager Lorraine Moffat has always been on hand to monitor the project from start to finish, listening to our needs and supporting us accordingly with great advice. All the team are very approachable and easy to talk to and we would highly recommend them to anyone who's thinking about setting up a website."
                        </h2>

                        <p>
                            Besik Labdaze, Managing director <br>
                            <a href="https://www.llccars.co.uk" target="_blank">www.llccars.co.uk</a>
                        </p>

                    </div>

<!--                    <div>

                        <h2>
                            "Lorraine at Say Web Design provided us with a professional, personal and friendly service. Honest in their work ethic, creative in their design and development and focussed in their delivery -  I would recommend them as a company that puts customer service first."
                        </h2>

                        <p>
                            Toby Kernon / Co-founder & Managing Director of Teamcore Limited <br>
                            <a href="http://www.teamcore.com" target="_blank">www.teamcore.com/</a>
                        </p>

                    </div>-->
<div>

                        <h2>
                            "Say Web Design quite literally breathed life into the home page of our website. Where it was once stodgy, outdated and boring, it's now alive, relevant and inviting… not an easy task for an accounting site, I can assure you.
      On top of it all, we loved working with everyone at SAY. No matter what we brought to the table, SAY listened to us… and then politely steered us in the right direction. Anyone who has the opportunity to work with Lorraine and her team won't be disappointed."
                        </h2>

                        <p>
                            Karin Rising Director, Global Marketing Operations / MDD <br>
                            <a href="http://www.mdd.com" target="_blank">www.mdd.com</a>
                        </p>

                    </div>


                </div>

            </div>

        </div>

    </div>

</section>