<section class="pure-g swdHero swdSection swdSection-purple">

  <div class="pure-u-1-1">

    <div class="swdContainer swdAlignCenter">

      <img src="img/slider.png" class="pure-img swdAutoWidth swdImage" alt="Say Web Design, Web Design, Web Design Agency
">

      <div class="owl-carousel-org owl-carousel owl-margin">

        <div>

          <div class="heading_style1">
            Here at Say Web Design, we help entrepreneurs and forward thinking companies launch websites that <strong>say</strong> everything they need to <strong>say</strong>!
          </div>

        </div>
        <div>
         <div class="heading_style1">
            We’re <strong>passionate</strong> about digital. We're a <h1 class="pre_h">web design company and web development <strong>agency</strong></h1> all rolled into a one stop shop.
          </div>
        </div>
        <div>
         <div class="heading_style1">
            We make things simple. We don't bombard our clients with jargon and always go the <strong>extra mile</strong> to help our clients with all their <strong>digital needs</strong>.
          </div>
        </div>

        <div>
          <div class="heading_style1">
            We're <strong>good people</strong>! We're behind our clients 100%. We want you to succeed. If you're doing well then we look good! Its <strong>win/win</strong>!
          </div>
        </div>


      </div>

      <div>
        <a href="#swd-footer-js" data-swd-speed="1500" data-swd-element="#swd-contactForm-js" class="swdButton swd-scroll">Talk To Us</a>
      </div>

    </div>

  </div>

</section>

<!-- who we are -->
<section class="swdSection swdSection-yellow swdAlignCenter">

  <div class="swdContainer swd-whoWeAre">

    <h2 class="heading_style1">Who We Are</h2>
    <!--p>We’re a London based web design and web development agency.
      We work with a network of designers and developers to bring the
      right set of skills to build your business.</p-->
    <p><b>Say Web Design</b> was founded for one reason – to prove that quality <b>web design</b> can also be affordable. Our <b>web design agency</b> employs talented and experienced web designers and developers from various backgrounds, each bringing unique skills and talents to the team. We understand that your website speaks volumes for your business – we're here to make sure it says all the right things. </p>
    <p>Working from our headquarters in Central London and our newly opened office in Bristol, we've helped dozens of businesses of all sizes build, manage and optimise their most crucial online assets. Our comprehensive range of services includes <b>web design</b> and development, content management system integration, strategic consultancy, search engine optimisation, web marketing, database development and so much more.</p>
    <p>We tailor unique service packages in accordance with the goals, budgets and deadlines of our clients. <b>Say Web Design</b> is committed to delivering results through hard work, dedication and constant innovation. We bring together outstanding technical skills with genuine passion for what we do, resulting in the ultimate service package for our clients.</p>
    <p><b>Say Web Design</b> is a <b>web design agency</b> that combines small business values with big brand performance. </p>
    <p>All we need is your vision – the rest you can leave in our hands. </p>

    <div>
      <a href="/who-we-are/" class="swdButton">
        <span class="swd-readBtn_more">Read More</span>
        <!--span class="swd-readBtn_less">Read Less</span-->
      </a>
    </div>

  </div>

</section>



<section class="pure-g swdSection-darkGrey">

  <div class="pure-u-1-1 pure-u-lg-1-2 swdAlignCenter swdSection-extra swd-section-what-we-promise h-relative">

    <h2 class="wow fadeInDown heading_style1" data-wow-delay="0.1s" data-wow-offset="100">What We Promise</h2>
    <img src="img/other-logo.png" class="pure-img wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="250" alt="">

    <div class="swd-arrow-right swd-postion-absolute swd-right-arrow">
      <i class="cc-fa cc-fa-09-right-dir cc-fa-5"></i>
      <i class="cc-fa cc-fa-06-down-dir cc-fa-5"></i>
    </div>

  </div>

  <div class="pure-u-1-1 pure-u-lg-1-2">

    <div class="pure-g">

      <div class="pure-u-1-1 swdSection-black swd-section-what-we-promise-right h-relative">

        <ul class="wow fadeInDown" data-wow-delay="0.3s" data-wow-offset="400">
          <li><strong>Show up!</strong> We’ll always be available to talk to you through any questions you have along the way.</li>
          <li><strong>Help you create</strong> a foundation for your business with a quality digital presence.</li>
          <li><strong>Ask lots of questions</strong> so we understand you and your business.</li>
        </ul>

        <div class="swd-arrow-right swd-postion-absolute swd-down-arrow">
          <i class="cc-fa cc-fa-06-down-dir cc-fa-5"></i>
        </div>

      </div>

      <div class="pure-u-1-1 swdSection-purple swd-section-what-we-promise-right h-relative">

        <ul class="wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="200">
          <li><strong>Make life simple</strong> with jargon free terminology.</li>
          <li><strong>Be committed</strong> to your vision and build a product we’re proud of.</li>
          <li><strong>Keep things simple</strong> so your clients have the best user experience.</li>
        </ul>

        <div class="swd-arrow-right swd-postion-absolute swd-left-arrow">
          <i class="cc-fa cc-fa-01-left-dir cc-fa-5"></i>
        </div>

      </div>

    </div>

  </div>

</section>

<section class="swdSection swdSection-lightGrey swdAlignCenter">

  <div class="swdContainer swdContainer-large">

    <h2 class="swdAlignCenter heading_style1">What We Offer</h2>

    <div class="pure-g">

      <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.100s" data-wow-offset="300">

        <div class="flip-container flip-container__bottom swdTouch-js">

          <div class="flipper">

            <div class="front">
              <i class="cc-icon cc-icon-icon_web cc-icon-9"></i>
            </div>

            <div class="back">
              <!-- back content -->
              <p>With such a high number of people viewing websites on their phones, we can make your website respond to whatever screen your audience views it on.</p>
            </div>

          </div>

        </div>

        <h4 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Responsive Web Design, Mobile Design</h4>

      </div>

      <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.250s" data-wow-offset="300">

        <div class="flip-container flip-container__bottom swdTouch-js">

          <div class="flipper">

            <div class="front">
              <i class="cc-icon cc-icon-icon_cms cc-icon-9"></i>
            </div>

            <div class="back">
              <!-- back content -->
              <p>We can make your website editable for you to make content changes whenever you need to. We work with Drupal, Typo3, WordPress and Magento.</p>
            </div>

          </div>

        </div>

        <h4 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Content Management Systems</h4>

      </div>

      <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.400s" data-wow-offset="300">

        <div class="flip-container flip-container__bottom swdTouch-js">

          <div class="flipper">

            <div class="front">
              <i class="cc-icon cc-icon-icon_development cc-icon-9"></i>
            </div>

            <div class="back">
              <!-- back content -->
              <p>Everyone has a website nowadays so we want yours to stand out. We can do that with interactive front end development that engages your audience.</p>
            </div>

          </div>

        </div>

        <h4 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Interactive Development</h4>

      </div>

      <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.650s" data-wow-offset="300">

        <div class="flip-container flip-container__bottom swdTouch-js">

          <div class="flipper">

            <div class="front">
              <i class="cc-icon cc-icon-icon_design-10 cc-icon-9"></i>
            </div>

            <div class="back">
              <!-- back content -->
              <p>We can create you a logo and brand guideline which will not only make you look good, but professional as well. We can transfer these guidelines to your website.</p>
            </div>

          </div>

        </div>

        <h4 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Visual Branding & Creative Design</h4>

      </div>

      <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.800s" data-wow-offset="300">

        <div class="flip-container flip-container__bottom swdTouch-js">

          <div class="flipper">

            <div class="front">
              <i class="cc-icon cc-icon-icon_seo cc-icon-9"></i>
            </div>

            <div class="back">
              <!-- back content -->
              <p>We build all of our websites to be SEO friendly but we can also help with driving people to your website so you are noticed in Google.</p>
            </div>

          </div>

        </div>

        <h4 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Search Engine Optimisation</h4>

      </div>

      <div class="swdCard pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-6 wow fadeIn" data-wow-delay="0.950s" data-wow-offset="300">

        <div class="flip-container flip-container__bottom swdTouch-js">

          <div class="flipper">

            <div class="front">
              <i class="cc-icon cc-icon-icon_market cc-icon-9"></i>
            </div>

            <div class="back">
              <!-- back content -->
              <p>We add Google analytics to all of our websites so you can see how many people are viewing your site. We will help analyse that data so you can see where improvements could be made.</p>
            </div>

          </div>

        </div>

        <h4 class="swdAlignCenter swd-h3-style swd-what-we-do-heading">Market Insight</h4>

      </div>

    </div>

  </div>

</section>
<!-- how we work -->
<section class="pure-g swdSection swdSection-yellow">

  <div class="pure-u-1-1">

    <div class="swdContainer">

      <h2 class="swdAlignCenter heading_style1">
        How We Work
      </h2>

      <div class="pure-g">

        <div class="swdCard pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 wow fadeIn" data-wow-delay="0.1s" data-wow-offset="300">

          <h3 class="swdAlignCenter heading_style3">Plan</h3>

          <div class="flip-container swdTouch-js">

            <div class="flipper">

              <div class="front">
                <i class="cc-icon cc-icon-icon_plan cc-icon-12 cc-icon_large"></i>
              </div>

              <div class="back">
                <p>Communication is Key. We'll work closely with you to pin down what you want and how best to achieve it. We'll put a plan together, a road map which means you won't get lost!</p>
              </div>

            </div>

          </div>

        </div>

        <div class="swdCard pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 wow fadeIn" data-wow-delay="0.3s" data-wow-offset="300">

          <h3 class="swdAlignCenter heading_style3">Design</h3>

          <div class="flip-container swdTouch-js">

            <div class="flipper">

              <div class="front">
                <i class="cc-icon cc-icon-icon_design-03 cc-icon-12 cc-icon_large"></i>
              </div>

              <div class="back">
                <!-- back content -->
                <p>Our designs have soul. We create design because we love it but  we design for results.  We focus on your audience and what they like and focus on building your product around that.</p>
              </div>

            </div>

          </div>

        </div>

        <div class="swdCard pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 wow fadeIn" data-wow-delay="0.6s" data-wow-offset="300">

          <h3 class="swdAlignCenter heading_style3">Develop</h3>

          <div class="flip-container swdTouch-js">

            <div class="flipper">

              <div class="front">
                <i class="cc-icon cc-icon-icon_develop cc-icon-12 cc-icon_large"></i>
              </div>

              <div class="back">
                <!-- back content -->
                <p>We use cutting edge technology to bring your design to life! We have a balanced team of front end and back end developers to create a seamless product that functions as fantastic as it looks.</p>
              </div>

            </div>

          </div>

        </div>

        <div class="swdCard pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 wow fadeIn" data-wow-delay="0.9s" data-wow-offset="300">

          <h3 class="swdAlignCenter heading_style3">Grow</h3>

          <div class="flip-container swdTouch-js">

            <div class="flipper">

              <div class="front">
                <i class="cc-icon cc-icon-icon_grow cc-icon-12 cc-icon_large"></i>
              </div>

              <div class="back">
                <!-- back content -->
                <p>Launching is just the start of the journey! The industry and technology is progressing at a staggering rate. We will work closely with you to optimise and develop your product based on real world use.</p>
              </div>

            </div>

          </div>

        </div>

      </div>
<div class='swd_btn_outer'>
      <a href="/who-we-are/" class="swdButton">
        <span class="swd-readBtn_more">Read More</span>
        <!--span class="swd-readBtn_less">Read Less</span-->
      </a>
    </div>
    </div>

  </div>

</section>

<section class="pure-g swdSection swdSection-purple">

  <div class="pure-u-1-1">

    <div class="swdContainer swdAlignCenter">

      <h2 class="heading_style1">What People Say</h2>

      <div class="testimonials">

        <div class="owl-carousel-org owl-carousel">

          <div>

            <p class="heading_style1">
              "We wanted to create a new website for our company that was good-looking and easy to use.  From our first meeting to discuss design ideas to the final launch, SAY Web Design made the process nice and straightforward and were unfailingly helpful (and patient!) in ensuring our requirements were met. We were delighted with the result and would recommend SAY to anyone."
            </p>

            <p>
              Adam Robinson, Senior Researcher<br>
              <a href="http://www.spbroadway.com" target="_blank">www.spbroadway.com</a>
            </p>

          </div>

          <div>

            <p class="heading_style1">
              "Say Web Design have been fundamental in LLC's success. They have worked extremely closely with us to create that bespoke website look, that makes us stand out from our competitors. Say Web Designs manager Lorraine Moffat has always been on hand to monitor the project from start to finish, listening to our needs and supporting us accordingly with great advice. All the team are very approachable and easy to talk to and we would highly recommend them to anyone who's thinking about setting up a website."
            </p>

            <p>
              Besik Labdaze, Managing director <br>
              <a href="https://www.llccars.co.uk" target="_blank">www.llccars.co.uk</a>
            </p>

          </div>


          <div>

            <p class="heading_style1">
              "Say Web Design quite literally breathed life into the home page of our website. Where it was once stodgy, outdated and boring, it's now alive, relevant and inviting… not an easy task for an accounting site, I can assure you.
              On top of it all, we loved working with everyone at SAY. No matter what we brought to the table, SAY listened to us… and then politely steered us in the right direction. Anyone who has the opportunity to work with Lorraine and her team won't be disappointed."
            </p>

            <p>
              Karin Rising Director, Global Marketing Operations / MDD <br>
              <a href="http://www.mdd.com" target="_blank">www.mdd.com</a>
            </p>

          </div>


        </div>

      </div>

    </div>

  </div>

</section>