<section class="pure-g swdSection-lightGrey swd_c_study c-img__container">

  <div class="pure-u-1-1 pure-u-md-1-2 h-relative  swdAlignCenter">

    <div class="h1-section">
      <img class="study_logo sp " src="/img/casestudy/sp_logo.png" alt=""/>
      <a class="study_link color-text-black" href="http://www.spbroadway.com">www.spbroadway.com</a>
      <h1>SP Broadway is a public relations consultancy specialising in planning and development. They came to us as their site was not responsive and needed to be modernised.</h1></div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-2 c-img__container">

    <img src="/img/casestudy/sp_image1.jpg" class="swd-img swd-img swd-zoom" alt=""/>

  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/sp_image2.jpg" class="swd-img swd-zoom" alt="llc cars">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.06s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/sp_image3.jpg" class="swd-img swd-zoom" alt="llc cars">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_sp" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Plan</h1>
      <p>We had meetings with the client to understand their business and conducted some competitor research to understand the planning and development landscape. With this information to hand we went about re-designing the website.</p>
    </div>
  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_sp2" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Design</h1>
      <p>The client had a gallery of images that they were not effectively using online. By utilising these images and reformatting them to be full width we were able to incorporate them into the layout and produce a fresh, modern site with simple and easy to use navigation. We also designed a brochure and newsletter in keeping with the new website design.</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-2-3 c-img__container" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/sp_image6.jpg" class="swd-img swd-zoom" alt="llc cars">
    <!--    </a>-->
  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-1 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/sp_image7.jpg" class="swd-img swd-zoom" alt="llc cars">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_sp3" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Develop</h1>
      <p>We implemented the site into a new installation of WordPress which enabled the site to be responsive. We created editable modules for the team, case studies, events and politics of planning as well as a newsletter sign up form.</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 swdSection-purple h-relative sp_theme_color" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <i class="cc-icon cc-icon-5 cc-icon-icon_grow "></i>
      <p>Site address: <a href="http://www.spbroadway.com" class="study_link">www.spbroadway.com</a></p>
    </div>
  </div>
</section>


<section class="swdSection swd_testimonial swdSection-purple swdAlignCenter h-relative case_ppl_say">
  <div class="swdContainer">
    <h1>What Company say</h1>
    <p>"We wanted to create a new website for our company that was good-looking and easy to use.  From our first meeting to discuss design ideas to the final launch, SAY Web Design made the process nice and straightforward and were unfailingly helpful (and patient!) in ensuring our requirements were met.  We were delighted with the result and would recommend SAY to anyone."</p>

    <span>Adam Robinson – Senior Researcher</span><br/>
    <a href="http://www.spbroadway.com/ " target="_blank">http://www.spbroadway.com</a>
  </div>
</section>