<section class="pure-g swdSection-lightGrey swd_c_study c-img__container">

  <div class="pure-u-1-1 pure-u-md-1-2 h-relative  swdAlignCenter">

    <div class="h1-section">
      <img class="study_logo sm " src="/img/casestudy/sm_logo.png" alt=""/>
      <a class="study_link color-text-black" href="http://www.smartmoneyloans.co.uk">www.smartmoneyloans.co.uk</a>
      <h1>Smart Money is a specialist finance broker. Their brief was to re-design their site to make it more modern and professional. They also wanted to update some of their functionality in order for it to be more intuitive.</h1></div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-2 c-img__container">

    <img src="/img/casestudy/sm_image1.jpg" class="swd-img swd-img swd-zoom" alt=""/>

  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/sm_image2.jpg" class="swd-img swd-zoom" alt="smart money">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.06s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/sm_image3.jpg" class="swd-img swd-zoom" alt="smart money">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_sm" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Plan</h1>
      <p>Having been let down by another agency it was important to spend some time with the client and really understand what they liked and disliked about their current site and also other sites.</p>
    </div>
  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_sm2" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Design</h1>
      <p>We took the current content and re-designed and configured the layout to produce a clean, sophisticated site that exudes professionalism. The large rotating banners clearly portray the 4 services that Smart Money offers and the rest of the site content is now easily accessible and intuitive to find.</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-2-3 c-img__container" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/sm_image6.jpg" class="swd-img swd-zoom" alt="smart money">
    <!--    </a>-->
  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-1 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/sm_image7.jpg" class="swd-img swd-zoom" alt="smart money">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_sm3" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Develop</h1>
      <p>The site was already in WordPress but we updated the version and code and made the site responsive so that it can be viewed on any device. We also redesigned and re-developed one of the forms to be more user-friendly and created another form.</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 swdSection-purple h-relative sm_theme_color" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <i class="cc-icon cc-icon-5 cc-icon-icon_grow "></i>
      <p>Site address: <a href="http://www.smartmoneyloans.co.uk" target='_blank' class="study_link">www.smartmoneyloans.co.uk</a></p>
    </div>
  </div>
</section>


<section class="swdSection swd_testimonial swdSection-purple swdAlignCenter h-relative case_ppl_say">
  <div class="swdContainer">
    <h1>What SMART MONEY say</h1>
    <p>"Lorraine at Say Web Design took the time to conduct an in-depth analysis to understand exactly what our remit was and then delivered a quality site at an affordable price and on schedule.  Since the site was launched Lorraine has continued to provide us with as much help and advice as we've needed in updating our content effectively and to improve our SEO ranking. I'd have no hesitation in recommending them to others."</p>

    <span>Steve Pollard – Head of Sales</span><br/>
    <a href="http://www.smartmoneyloans.co.uk " target="_blank">www.smartmoneyloans.co.uk</a>
  </div>
</section>