<section class="pure-g swdSection-lightGrey swd_c_study c-img__container">

  <div class="pure-u-1-1 pure-u-md-1-2 h-relative  swdAlignCenter">

    <div class="h1-section">
      <img class="study_logo " src="/img/casestudy/swd_llc_logo.png" alt=""/>
      <a class="study_link" href="https://www.llccars.co.uk">www.llccars.co.uk</a>
      <h1>LLC, a premier chauffeuring company, wanted to create a completely new website with a luxurious look and feel. They wanted it to be easy for their users to navigate and most importantly they wanted their new site to set them apart from their competition in chauffeuring.</h1></div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-2 c-img__container">

    <img src="/img/casestudy/llc_image1.jpg" class="swd-img swd-img swd-zoom" alt=""/>

  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/llc_image2.jpg" class="swd-img swd-zoom" alt="llc cars">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.06s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/llc_image3.jpg" class="swd-img swd-zoom" alt="llc cars">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_llc" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Plan</h1>
      <p>We aimed to create a high end, luxurious brand that really portrayed what the company is all about. We did a competitor analysis and brainstormed with LLC on their brand image, colour palette and overall design to produce something that was unique and bespoke.</p>
    </div>
  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_llc2" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Design</h1>
      <p>We created a logo that was close to the client’s roots but that also depicted style and elegance. We worked closely with client on the large images on the site to ensure that they fully represented the level of luxury and first class travel service.</p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-2-3 c-img__container" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/llc_image6.jpg" class="swd-img swd-zoom" alt="llc cars">
    <!--    </a>-->
  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-1 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/llc_image8.jpg" class="swd-img swd-zoom" alt="llc cars">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_llc2" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Develop</h1>
      <p>The site was developed in WordPress. The modules in WordPress gave the flexibility to create the rotating banners and car carousel. We also integrated a quick quote functionality and links to a third party booking system. </p>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 swdSection-yellow h-relative" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <i class="cc-icon cc-icon-5 cc-icon-icon_grow "></i>
      <p>Site address: <a href="https://www.llccars.co.uk" class="study_link">www.llccars.co.uk</a></p>
    </div>
  </div>
</section>


<section class="swdSection swd_testimonial swdSection-purple swdAlignCenter h-relative case_ppl_say">
  <div class="swdContainer">
    <h1>What Company say</h1>
    <p>"Say Web Design have been fundamental in LLC’s success. They have worked extremely closely with us to create that bespoke website look, that makes us stand out from our competitors. Say Web Designs manager Lorraine Moffat has always been on hand to monitor the project from start to finish, listening to our needs and supporting us accordingly with great advice. All the team are very approachable and easy to talk to and we would highly recommend them to anyone who’s thinking about setting up a website."</p>

    <span>Besik Labdaze-Managing director</span><br/>
    <a href="https://www.llccars.co.uk" target="_blank">www.llccars.co.uk</a>
  </div>
</section>