<section class="pure-g swdSection-lightGrey swd_c_study c-img__container">

  <div class="pure-u-1-1 pure-u-md-1-2 h-relative  swdAlignCenter">

    <div class="h1-section">
      <img class="study_logo bm " src="/img/casestudy/bm_logo.png" alt=""/>
      <a class="study_link color-text-black" href="http://www.buymyair.com">www.buymyair.com</a>
      <h1>MDD, a global forensic accounting firm, wanted to update the aesthetic look and feel of the website and make it easier for their clients to understand what sets them apart, how they can help and why employ them.</h1></div>
    <img src="/img/casestudy/bm_image1.jpg" class="swd-img h-fireFox-height-bug-fix" alt="">
  </div>
  <div class="pure-u-1-1 pure-u-md-1-2 c-img__container">

    <img src="/img/casestudy/bm_image1.jpg" class="swd-img swd-img swd-zoom" alt=""/>

  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/bm_image2.jpg" class="swd-img swd-zoom" alt="BuyMyAir">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.06s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/bm_image3.jpg" class="swd-img swd-zoom" alt="BuyMyAir">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_bm" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Plan</h1>
      <p>The client had several pieces of print collateral that they wanted to combine and translate into an online medium. We started by consolidating the key messages and plotting out how the content could be placed with a simple yet effective layout.</p>
    </div>
    <img src="/img/casestudy/bm_image3.jpg" class="swd-img h-fireFox-height-bug-fix" alt="">
  </div>
</section>


<section class="pure-g swdSection-darkGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_bm2" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Design</h1>
      <p>MDD wanted to incorporate design and functionality elements intended to keep the user engaged and to discover deeper content on the site. We designed a new homepage and then rolled this theme out to other key sections of the site.</p>
    </div>
    <img src="/img/casestudy/bm_image3.jpg" class="swd-img h-fireFox-height-bug-fix" alt="">
  </div>
  <div class="pure-u-1-1 pure-u-md-2-3 c-img__container" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/bm_image6.jpg" class="swd-img swd-zoom" alt="BuyMyAir">
    <!--    </a>-->
  </div>
</section>


<section class="pure-g swdSection-lightGrey c-img__container swd_c_study s_content">
  <div class="pure-u-1-1 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">
    <!--    <a href="http://www.llccars.co.uk" target="_blank">-->
    <img src="/img/casestudy/bm_image7.jpg" class="swd-img swd-zoom" alt="BuyMyAir">
    <!--    </a>-->
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 h-relative c_back_image c_bm3" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <h1>Develop</h1>
      <p>The site was developed in WordPress where we were able to add various modules such as the revolution sliders, enabling the required functionality outlined above.</p>
    </div>
    <img src="/img/casestudy/bm_image3.jpg" class="swd-img h-fireFox-height-bug-fix" alt="">
  </div>
  <div class="pure-u-1-1 pure-u-md-1-3 swdSection-purple h-relative bm_theme_color" data-wow-delay="0.09s" data-wow-offset="150">
    <div class="h1-section">
      <i class="cc-icon cc-icon-5 cc-icon-icon_grow "></i>
      <p>Site address: <a href="http://www.buymyair.com" target='_blank' class="study_link">www.buymyair.com</a></p>
    </div>
    <img src="/img/casestudy/bm_image3.jpg" class="swd-img h-fireFox-height-bug-fix" alt="">
  </div>
</section>


<section class="swdSection swd_testimonial swdSection-purple swdAlignCenter h-relative case_ppl_say">
  <div class="swdContainer">
    <h1>What Mdd say</h1>
    <p>"SAY Web Design quite literally breathed life into the home page of our website. Where it was once stodgy, outdated and boring, it’s now alive, relevant and inviting…not an easy task for an accounting site, I can assure you. On top of it all, we loved working with everyone at SAY. No matter what we brought to the table, SAY listened to us…and then politely steered us in the right direction. Anyone who has the opportunity to work with Lorraine and her team won’t be disappointed."</p>

    <span>Karin Rising / Director, Global Marketing Operations</span><br/>
    <a href="http://www.buymyair.com" target="_blank">www.buymyair.com</a>
  </div>
</section>