<section class="swdSection contact_us_sec swdSection-purple swdAlignCenter h-relative">
  <div class="swdContainer">
    <h2 class="heading_style1">Web designers London</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut urna magna. Curabitur fermentum sagittis laoreet. Nulla turpis elit, hendrerit et lorem vel, malesuada consectetur ex. Vestibulum et nisi id nibh cursus lacinia eu at dui. Donec sit amet erat eget lorem mollis varius. Praesent pharetra tincidunt elementum. Pellentesque non tincidunt nisi.</p>
  </div>
</section>

<section class="pure-g swdSection-darkGrey co_location our_location c-img__container">

  <div class="pure-u-1-1 pure-u-lg-2-5 swdSection-black c-img__container  h-relative wow fadeInUp co_left" data-wow-delay="0.03s" data-wow-offset="250">
    <img src="/img/back_london.jpg" class="swd-img " alt="Web Design Portfolio" title="Web Design Portfolio">
    <div class="swd-position-centered">
      <h2 class="lead swd-text-center heading_style1">Our London Location</h2>
      <div class="contact_bottom sw_location">

        <p class="swd-less-margin">
          207 Regent Street, 3rd Floor, London, W1B 3HH
          <span class="swd-footer-icons swdAlignCenter sw_icon"></span>
        </p>

        <p class="swd-less-margin">
          <a href="mailto:hello@saywebdesign.co.uk">hello@saywebdesign.co.uk</a>
          <span class="swd-footer-icons swdAlignCenter sw_icon sw_mail"></span>
        </p>
        <p class="swd-less-margin">
          <span class="swd-footer-icons swdAlignCenter sw_icon sw_call"></span>
          0117 214 1350
        </p>

      </div>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-lg-3-5 c-img__container h-relative wow fadeInUp co_right" data-wow-delay="0.06s" data-wow-offset="250">
   
    <div class="swd-position-centered swd_map">
      <div class="contact_bottom">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.99443023481!2d-0.14342294870294112!3d51.51331817953614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876052a9e9817ad%3A0x758bfc79a1fa812!2s207+Regent+St%2C+Mayfair%2C+London%2C+UK!5e0!3m2!1sen!2sin!4v1477315005604" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
    </div>
  </div>
</section>


<section class="swdSection contact_us_sec swdSection-yellow swdAlignCenter h-relative">
  <div class="swdContainer">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut urna magna. Curabitur fermentum sagittis laoreet. Nulla turpis elit, hendrerit et lorem vel, malesuada consectetur ex. Vestibulum et nisi id nibh cursus lacinia eu at dui. Donec sit amet erat eget lorem mollis varius.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut urna magna. Curabitur fermentum sagittis laoreet. Nulla turpis elit, hendrerit et lorem vel, malesuada consectetur ex. </p>
  </div>
</section>