      
    <section class="pure-g swdSection-purple c-img__container">

    <div class="pure-u-1-1 pure-u-md-1-2 our-work_header h-relative">

        <h2 class="h1-section h_tag1"><span class="no-bold">We plan. We design. We develop.</span><br>
            You grow.</h2>
        <img src="/img/our-work/header-img.jpg" class="swd-img h-fireFox-height-bug-fix" alt="Web Design Portfolio" title="Web Design Portfolio">

    </div>

    <div class="pure-u-1-1 pure-u-md-1-2 c-img__container">

        <a href="/our-work-mdd/">
            <img src="/img/our-work/header-img.jpg" class="swd-img" alt="Web Design Portfolio" title="Web Design Portfolio">
        </a>

    </div>

</section>

<section class="pure-g swdSection-yellow c-img__container">

    <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.03s" data-wow-offset="150">

        <a href="/our-work-llccars/">
            <img src="/img/our-work/our-work-1.jpg" class="swd-img swd-zoom" alt="Web Design Portfolio" title="Web Design Portfolio">
        </a>

    </div>

    <div class="pure-u-1-2 pure-u-md-1-3 c-img__container wow fadeInDown" data-wow-delay="0.06s" data-wow-offset="150">
        <a href="/our-work-airbox-global/">
            <img src="/img/our-work/our-work-2.jpg" class="swd-img swd-zoom" alt="Web Design Portfolio" title="Web Design Portfolio">
        </a>

    </div>

    <div class="pure-u-1-1 pure-u-md-1-3 h-relative wow fadeInDown" data-wow-delay="0.09s" data-wow-offset="150">

        <i class="cc-icon cc-icon-icon_responsive cc-icon-12 cc-icon_large h-icon-position-center"></i>
        <img src="/img/our-work/our-work-2.jpg" class="swd-img h-fireFox-height-bug-fix" alt="Web Design Portfolio" title="Web Design Portfolio">

    </div>

</section>

<section class="pure-g swdSection swdSection-black c-img__container">

    <div class="pure-u-1-1 wow fadeIn" data-wow-delay="0.03s" data-wow-offset="250">

        <div class="swdContainer swdContainer--width swdAlignCenter">

            <div class="testimonials">

                <div class="owl-example-logos owl-carousel">

                    <div>

                        <img src="/img/our-work/client_logos_pngs/mph.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/llca.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>
                      <img src="/img/our-work/client_logos_pngs/IT-ancillaries.png" alt="Web Design Portfolio" title="Web Design Portfolio"/>
                        

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/airport-vip.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/harris.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/mdd.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/pomarina.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/morgan.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/coffee-seller.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/staffing-match.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/smart-money.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/sp-broadway.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/disturb-ibiza.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/airbox.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/llc.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/buy-my-air.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/kernov.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>

                    <div>

                        <img src="/img/our-work/client_logos_pngs/empire-property.png" alt="Web Design Portfolio" title="Web Design Portfolio">

                    </div>


                </div>

            </div>

        </div>

    </div>

</section>

<section class="pure-g swdSection-darkGrey c-img__container">

    <div class="pure-u-1-1 pure-u-lg-1-2 swdSection-black c-img__container wow fadeIn" data-wow-delay="0.03s" data-wow-offset="250">

        <a href="/our-work-pomarina/">
            <img src="/img/our-work/header-img-1.jpg" class="swd-img" alt="Web Design Portfolio" title="Web Design Portfolio">
        </a>

    </div>

    <div class="pure-u-1-1 pure-u-lg-1-2 c-img__container h-relative wow fadeInUp" data-wow-delay="0.06s" data-wow-offset="250">

        <img src="/img/our-work/header-img-1.jpg" class="swd-img h-fireFox-height-bug-fix" alt="Web Design Portfolio" title="Web Design Portfolio">

        <div class="swd-position-centered swd-position-centered--removeMd">
            <div class="lead swd-text-center pre_p">We have a wide variety of clients. Our <strong>design</strong> work is always
                <strong>researched</strong> and <strong>tailored</strong> specifically to the client we are dealing with,
                which is why our <h1 class="pre_h">portfolio</h1> is so <strong>diverse</strong>.</div>
            <p class="lead swd-text-center">This is just a few examples of some of the projects we have worked on.</p>
        </div>

    </div>

</section>

<section class="pure-g c-img__container wow fadeIn" data-wow-delay="0.03s" data-wow-offset="250">

    <div class="pure-u-1-1 pure-u-md-1-3 h-relative c-img__container">

        <i class="cc-icon cc-icon-icon_html cc-icon-12 cc-icon_large h-icon-position-center black"></i>
        <img src="/img/our-work/our-work-3.jpg" class="swd-img h-fireFox-height-bug-fix" alt="Web Design Portfolio" title="Web Design Portfolio">

    </div>

    <div class="pure-u-1-2 pure-u-md-1-3 c-img__container">

        <a href="/our-work-smart-money/">
            <img src="/img/our-work/our-work-3.jpg" class="swd-img swd-zoom" alt="Web Design Portfolio" title="Web Design Portfolio">
        </a>

    </div>

    <div class="pure-u-1-2 pure-u-md-1-3 c-img__container">

        <a href="/our-work-coffee-seller/">
            <img src="/img/our-work/our-work-4.jpg" class="swd-img swd-zoom" alt="Web Design Portfolio" title="Web Design Portfolio">
        </a>

    </div>

</section>

<section class="pure-g c-img__container">

    <div class="pure-u-1-1 pure-u-md-1-2 c-img__container wow fadeIn" data-wow-delay="0.03s" data-wow-offset="250">

        <a href="/our-work-sp-broadway/">
            <img src="/img/our-work/header-img-2.jpg" class="swd-img swd-zoom" alt="Web Design Portfolio" title="Web Design Portfolio">
        </a>

    </div>

    <div class="pure-u-1-1 pure-u-md-1-2 c-img__container wow fadeIn" data-wow-delay="0.06s" data-wow-offset="250">

        <a href="/our-work-kernow-services/">
            <img src="/img/our-work/header-img-3.jpg" class="swd-img swd-zoom" alt="Web Design Portfolio" title="Web Design Portfolio">
        </a>

    </div>

</section>

<section class="pure-g swdSection swdSection-purple">

    <div class="pure-u-1-1">

        <div class="swdContainer swdAlignCenter">

            <h2 class="h_tag1">What People Say</h2>

             <div class="testimonials">

                <div class="owl-carousel-org owl-carousel">

                    <div>

                        <h2 class="h_tag1">
                            "We wanted to create a new website for our company that was good-looking and easy to use.  From our first meeting to discuss design ideas to the final launch, SAY Web Design made the process nice and straightforward and were unfailingly helpful (and patient!) in ensuring our requirements were met. We were delighted with the result and would recommend SAY to anyone."
                        </h2>

                        <p>
                            Adam Robinson, Senior Researcher<br>
                            <a href="http://www.spbroadway.com" target="_blank">www.spbroadway.com</a>
                        </p>

                    </div>

<!--                    <div>

                        <h2>
                            "Say Web design helped us create a custom social media site which has many layers and complex functionality. Great people always willing to go the extra mile in order to build a fantastic product. I can rely on them to be there when we need them especially with any technical queries. Brilliant work."
                        </h2>

                        <p>
                            Carl Dennie / Founder of Would Love To Go <br>
                            <a href="https://www.wouldlovetogo.com" target="_blank">www.wouldlovetogo.com</a>
                        </p>

                    </div>-->
<div>

                        <h2>
                           "Say Web Design have been fundamental in LLC's success. They have worked extremely closely with us to create that bespoke website look, that makes us stand out from our competitors. Say Web Designs manager Lorraine Moffat has always been on hand to monitor the project from start to finish, listening to our needs and supporting us accordingly with great advice. All the team are very approachable and easy to talk to and we would highly recommend them to anyone who's thinking about setting up a website."
                        </h2>

                        <p>
                            Besik Labdaze, Managing director <br>
                            <a href="https://www.llccars.co.uk" target="_blank">www.llccars.co.uk</a>
                        </p>

                    </div>

<!--                    <div>

                        <h2>
                            "Lorraine at Say Web Design provided us with a professional, personal and friendly service. Honest in their work ethic, creative in their design and development and focussed in their delivery -  I would recommend them as a company that puts customer service first."
                        </h2>

                        <p>
                            Toby Kernon / Co-founder & Managing Director of Teamcore Limited <br>
                            <a href="http://www.teamcore.com" target="_blank">www.teamcore.com/</a>
                        </p>

                    </div>-->
<div>

                        <h2>
                            "Say Web Design quite literally breathed life into the home page of our website. Where it was once stodgy, outdated and boring, it's now alive, relevant and inviting… not an easy task for an accounting site, I can assure you.
      On top of it all, we loved working with everyone at SAY. No matter what we brought to the table, SAY listened to us… and then politely steered us in the right direction. Anyone who has the opportunity to work with Lorraine and her team won't be disappointed."
                        </h2>

                        <p>
                            Karin Rising Director, Global Marketing Operations / MDD <br>
                            <a href="http://www.mdd.com" target="_blank">www.mdd.com</a>
                        </p>

                    </div>


                </div>

            </div>

        </div>

    </div>

</section>