<section class="pure-g swdSection-purple c-img__container c_wha refer_friend">


    <div class="pure-u-1-1 pure-u-lg-1-2 c-img__container h-relative wow fadeInUp" data-wow-delay="0.06s" data-wow-offset="250">

        <img src="/img/refer_a_friend.png" class="swd-img h-fireFox-height-bug-fix" alt="Web Design Portfolio" title="Web Design Portfolio">

        <div class="swd-position-centered swd-text-center swd-position-centered--removeMd">
          <h1 class="heading_style1  swd-text-center">REFER A FRIEND TODAY</h1>
          <p>At Say Web Design around one third of our business is acquired due to word of mouth. As such, we’ve come up with a little scheme to <b>give something back to the clients</b> that have kindly recommended us.It’s our way of saying thanks for spreading the word!</p>
          <p>When the person or company you refer signs up for a new website with us we will <b>reward you with 15 hours’ worth of design or development work on your website.</b></p>
          <a href="#" class="swdButton" >Refer a friend</a>
          <p>or call us on <a class="tel" href="tel:0203 637 3320">0203 637 3320</a></p>
            
        </div>

    </div>
  
    <div class="pure-u-1-1 pure-u-lg-1-2 swdSection-yellow c-img__container wow fadeIn" data-wow-delay="0.03s" data-wow-offset="250">
 <img src="/img/refer_a_friend.png" class="swd-img" alt="Web Design Portfolio" title="Web Design Portfolio">
       

    </div>

</section>

<section class="swdSection refer_friend_bottom swdSection-darkGrey swdAlignCenter h-relative">
  <div class="swdContainer">
    <p><b>As with all offers, there are a few terms to bear in mind:</b> </p>
    <ul>
      <li>The Referrer must be a client of Say Web Design in order to be eligible for the referral scheme.</li>
      <li>Say Web Design must not already have received details of the referee prior to the referral.</li>
      <li>The Referrer must have the permission of the person they are referring before submitting their details. This is in accordance with the Data Protection Act 1998. The Referrer will indemnify Say Web Design for any loss or claim arising out of the Referrer’s failure to gain consent of the Referee.</li>
      <li>The person/company referred must sign a contract with Say Web Design to build their website to claim the reward.</li>
      <li>There is no limit to the number of referrals that can be made. </li>
      <li>The responsibility remains with the Referrer to contact Say Web Design to claim their reward.</li>
      <li>The reward to the Referrer will be processed once all payment stages have been paid in full by the person/company referred.</li>
      <li>If your website does not require any new development, we can offer you £250 cash back instead of the development hours.</li>
      <li>Eligibility for this offer is at Say Web Design’s discretion and our decision is final.</li>
      <li>This scheme is effective from 01/12/2016 and Say Web Design reserves the right to terminate the scheme at any time.</li>
    
    </ul>
  </div>
</section>