<section class="swdSection swd_testimonial swdSection-purple swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_pomarina.png" alt=""/>
    <p>"Say Web Design created a visually distinctive and cutting-edge site that was also reliable and affordable too. We worked with Lorraine who understood our business needs and delivered. They are always available to us and give great advice. Very happy."</p>

    <span>John Squibb / CEO Pomarina</span><br/>
    <a href="http://www.pomarina.com" target="_blank">www.pomarina.com</a>
  </div>
</section>

<!-- wltg -->

<section class="swdSection swd_testimonial swdSection-yellow swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_wltg.png" alt=""/>
    <p>"Say Web design helped us create a custom social media site which has many layers and complex functionality. Great people always willing to go the extra mile in order to build a fantastic product. I can rely on them to be there when we need them especially with any technical queries. Brilliant work."</p>

    <span>Carl Dennie Founder of Would Love To Go</span><br/>
    <a class="color-text-black" href="http://www.wouldlovetogo.com" target="_blank">www.wouldlovetogo.com</a>
  </div>
</section>

<!-- teamcore -->

<section class="swdSection swd_testimonial swdSection-darkGrey swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_teamcore.png" alt=""/>
    <p>"Lorraine at Say Web Design provided us with a professional, personal and friendly service. Honest in their work ethic, creative in their design and development and focussed in their delivery -  I would recommend them as a company that puts customer service first."</p>

    <span>Toby Kernon Co-founder & Managing Director of Teamcore Limited</span><br/>
    <a href="http://www.teamcore.com" target="_blank">www.teamcore.com</a>
  </div>
</section>

<!-- MDD -->

<section class="swdSection swd_testimonial swdSection-black swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_mdd.png" alt=""/>
    <p>"SAY Web Design quite literally breathed life into the home page of our website. Where it was once stodgy, outdated and boring, it's now alive, relevant and inviting… not an easy task for an accounting site, I can assure you.
      On top of it all, we loved working with everyone at SAY. No matter what we brought to the table, SAY listened to us… and then politely steered us in the right direction. Anyone who has the opportunity to work with Lorraine and her team won't be disappointed."</p>

    <span>Karin Rising Director, Global Marketing Operations / MDD</span><br/>
    <a href="http://www.mdd.com" target="_blank">www.mdd.com</a>
  </div>
</section>


<!-- LLC -->

<section class="swdSection swd_testimonial swdSection-lightGrey swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_llc.png" alt=""/>
    <p>"Say Web Design have been fundamental in LLC's success. They have worked extremely closely with us to create that bespoke website look, that makes us stand out from our competitors. Say Web Designs manager Lorraine Moffat has always been on hand to monitor the project from start to finish, listening to our needs and supporting us accordingly with great advice. All the team are very approachable and easy to talk to and we would highly recommend them to anyone who's thinking about setting up a website."</p>

    <span>Besik Labdaze, Managing director</span><br/>
    <a class="color-text-black" href="http://www.llccars.co.uk" target="_blank">www.llccars.co.uk</a>
  </div>
</section>

<!-- smart money -->

<section class="swdSection swd_testimonial swdSection-purple swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_smartmoney.png" alt=""/>
    <p>"Lorraine at Say Web Design took the time to conduct an in-depth analysis to understand exactly what our remit was and then delivered a quality site at an affordable price and on schedule.  Since the site was launched Lorraine has continued to provide us with as much help and advice as we've needed in updating our content effectively and to improve our SEO ranking.  I'd have no hesitation in recommending them to others."</p>

    <span>Steve Pollard, Head of Sales</span><br/>
    <a href="http://www.smartmoneyloans.co.uk" target="_blank">www.smartmoneyloans.co.uk</a>
  </div>
</section>


<!-- sp broadway -->

<section class="swdSection swd_testimonial swdSection-yellow swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_spbroad.png" alt=""/>
    <p>"We wanted to create a new website for our company that was good-looking and easy to use.  From our first meeting to discuss design ideas to the final launch, SAY Web Design made the process nice and straightforward and were unfailingly helpful (and patient!) in ensuring our requirements were met. We were delighted with the result and would recommend SAY to anyone."</p>

    <span>Adam Robinson, Senior Researcher</span><br/>
    <a class="color-text-black" href="http://www.spbroadway.com" target="_blank">www.spbroadway.com</a>
  </div>
</section>

<!-- Kernow -->

<section class="swdSection swd_testimonial swdSection-darkGrey swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_kernow.png" alt=""/>
    <p>"Say Web Design thoroughly guided us through the design, build and delivery of our website.
Their professional expertise and suggestions were really appreciated as well as the team’s dedication and reliable support during and after the successful site launch."</p>

    <span>Anthony Stick, Managing Director</span><br/>
    <a href="http://www.kernowservices.com" target="_blank">www.kernowservices.com</a>
  </div>
</section>

<!-- The empire -->

<section class="swdSection swd_testimonial swdSection-black swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_empire.png" alt=""/>
    <p>"It was a real pleasure working with Lorraine. She was efficient, pleasant and in constant communication during the build of our new website. Nothing was too much trouble and I would thoroughly recommend Say Web design to anybody looking for a new website. I am very pleased with the website and with the service we keep receiving from this company."</p>

    <span>Stephanie Poujade, Managing Director</span><br/>
    <a href="http://www.theempirepropertygroup.co.uk " target="_blank">www.theempirepropertygroup.co.uk </a>
  </div>
</section>


<!-- Coffe seller -->

<section class="swdSection swd_testimonial swdSection-lightGrey swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="../../img/testimonial/swd_coffeeseller.png" alt=""/>
    <p>"From start to finish I have been extremely impressed by the service provided by say web design. From day one they were willing to listen to my ideas and suggest their own. Along the way we had a few issues with the website, but they were willing to fix these straight away to ensure the site suffered little down time. For a professional and quick service, I would definitely recommend say web design."</p>

    <span>Ross Wright, Marketing Manager</span><br/>
    <a class="color-text-black" href="http://www.coffeeseller.com" target="_blank">www.coffeeseller.com</a>
  </div>
</section>

<!-- staffing match -->
<section class="swdSection swd_testimonial swdSection-purple swdAlignCenter h-relative">
  <div class="swdContainer">
    <img src="/img/testimonial/swd_staffing.png" alt=""/>
    <p>"Say Web Design created a contemporary and robust website that met the needs of our growing business.  We were provided with a professional and reliable service at every step of the way and we were extremely impressed with the speed of response and technical insight provided by Lorraine and her team. We wouldn’t hesitate to recommend Say Web Design to others."</p>

    <span>Michael Gadsby, Director</span><br/>
    <a href="http://www.staffingmatch.co.uk" target="_blank">www.staffingmatch.co.uk</a>
  </div>
</section>