html {
    font-size:16px;
    @extend .open-sans-light;
    -ms-overflow-style: scrollbar;
}

body {
    font-size: 16px;
    color: #ffffff;
    @extend .open-sans-light;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    padding-top: $body-padding-top;
}

.pure-g [class*="pure-u"] {
    @extend .open-sans-light;
}

a {
    text-decoration: none;
    color: $color-text-white;
}

h1 {
    @include font-size(3.438);
    @extend .open-sans-bold;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0 0 70px;
}

h2 {
    @include font-size(2.5);
    @extend .open-sans-light;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0 0 36px;
}

h3 {
    @include font-size(1.25);
    @extend .open-sans-semi-bold;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0 0 25px;
}

p {
    @include font-size(1.25);
    @extend .open-sans-light;
    margin: 0 0 45px;
    line-height: 35px;
}

p:last-child {
    margin: 0 0 0;
}

ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
}

input, textarea {
    width: 100%;
    padding: 10px;
    @include box-sizing;
    margin-bottom: 20px;
    @extend .open-sans-light;
    @include font-size(1.25);
    
    &:focus {
        outline: none;
    }
}

button {
    border: none;
    background-color: $color-teal-background;
}

//pixels 767px
@media screen and (max-width: 47.99em) {
    
    body {
        padding-top: 0;
    }
}