@import "variables";

.open-sans-light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.open-sans-semi-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.open-sans-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.cc-icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include transform(translate(0, 0));
}