@import "variables";

.swd-header {
    padding: 30px 0 20px 25px;
    position: fixed;
    @include box-sizing();
    width: 100%;
    background-color: $color-white-background;
    margin-top: -$body-padding-top;
    z-index: 100;
    
    a {
        
        &:visited {
            color: $color-white-links;
            text-decoration: none;
        }
    }
    
    .swdSocial {
        display: inline-block;
        background-color: $color-dark-teal-background;
        padding: 7px 18px 6px;
        
        a {
            padding: 0 3px;
            @include font-size(1.8);
        }
    }
}

//pixels 767px
@media screen and (max-width: 47.99em) {
    
    .swd-header {
        margin-top: 0;
        position: relative;
        padding: 20px 0 20px 20px;
        
        .swdSocial {
            a {
                @include font-size(1.2);
                padding: 0 5px;
            }
        }
    }
    
    .swdButton {
        @include font-size(0.85);
        padding: 12px 15px;
    }
}