@mixin arrowPosition {
    right: auto;
    top: auto;
    bottom: -48px;
    left: 45%;
}

@media screen and (max-width: 90em) {
    
    .swd-section-what-we-promise-right {
        
        .swd-down-arrow {
            @include arrowPosition;
        }
    }
}

@media screen and (max-width: 63.99em) {
    
    .swd-section-what-we-promise {
        
        .swd-right-arrow {
            
            .fa-caret-right {
                display: none;
            }
            
            .fa-caret-down {
                display: block;
            }
            
            @include arrowPosition;
        }
    }
    
    .swd-fixed-height {
        margin-bottom: 50px;
    }
    
    .swd-fixed-height-margin-bottom {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 47.99em) {
    .swd-footer {
        
        .swd-footer-spacing {
            padding-right: 0;
        }
        
        .swd-footer-title-section {
            h1, p {
                margin-bottom: 25px;
            }
        }
        
        .swd-footer-form-button {
            margin-right: 15px;
        }
        
        .swd-footer-form-required {
            display: none;
        }
    }
}