@media screen and (min-width: 35.5em) and (max-width: 47.99em) {
    .swd-footer {
        
        .swd-footer-spacing {
            padding-right: 0;
        }
        
        .swd-footer-title-section {
            h1, p {
                margin-bottom: 25px;
            }
        }
        
        .swd-footer-form-button {
            margin-right: 15px;
        }
        
        .swd-footer-form-cancel {
            margin-bottom: 0;
            display: inline;
        }
        
        .swd-footer-form-required {
            display: none;
        }
    }
}