@mixin swd-cardsFace ($background: $color-white-background, $padding: 20px 15px) {
    position: absolute;
    top: 0;
    left: 0;
    padding: $padding;
    background-color: $background;
    width: 100%;
    @include swd-cardsHeight();
    text-align: center;
    @include box-sizing();
}

@mixin swd-cardsHeight () {
    height: 315px;
}

.swd-cards {
     -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    margin: 0 20px;
    @include swd-cardsHeight();
    @include box-sizing();
    
    &:hover {
        
        .swd-cardsFlip {
            transform: rotateY(180deg);
        }
    }
    
    &.hover {
        
        .swd-cardsFlip {
            transform: rotateY(180deg);
        }
    }
}

.swd-cards_large {
    margin-bottom: 20px;
}

/* flip speed goes here */
.swd-cardsFlip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.swd-cardsFront {
    @include swd-cardsFace();
    @include box-sizing();
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.swd-cardsFront > i {
    font-size: 100px;
    @include vertical-align;
    left: 0;
    color: $color-text-purple;
}

.swd-cardsFront_large > i {
    font-size: 80px;
    @include vertical-align;
    left: 0;
}

/* back, initially hidden pane */
.swd-cardsBack {
    @include swd-cardsFace($color-purple-background);
    @include box-sizing();
    transform: rotateY(180deg);
    color: $color-text-white;
}

//pixels 767px
@media screen and (max-width: 47.99em) {
    .swdCard {
        margin-bottom: 50px;
    }
    
    .swd-cards {
        margin: 0 0;
    }
}

@media screen and (min-width: 48.000em) and (max-width: 63.938em) {
    .swdCard {
        margin-bottom: 50px;
    }
}


.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d;

    @include box-sizing();
    @include swd-cardsHeight();
    
    margin: 0 20px;
    
    &.flip-container__bottom {
        margin: 0 20px 20px;
    }
}



/* START: Accommodating for IE */
.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* END: Accommodating for IE */

.front, .back {
    @include swd-cardsHeight();
}

.flipper {


    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);

    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    @include swd-cardsFace($padding: 20px 0);
    
    i {
        font-size: 100px;
        @include vertical-align;
        left: 0;
        color: $color-text-purple;
    }
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    @include swd-cardsFace($color-purple-background);
    color: $color-text-white;
    
    h3 {
        margin-bottom: 5px;
    }
}