@font-face{font-family:swdfa;src:url(../fonts/swdfa.eot);src:url(../fonts/swdfa.eot?#iefix)format('eot'),url(../fonts/swdfa.woff)format('woff'),url(../fonts/swdfa.ttf)format('truetype'),url(../fonts/swdfa.svg#swdfa)format('svg')}
.cc-fa{font-family:swdfa;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;text-transform:none;font-size:14px}
.cc-fa-1{font-size:1em}
.cc-fa-2{font-size:2em}
.cc-fa-3{font-size:3em}
.cc-fa-4{font-size:4em}
.cc-fa-5{font-size:5em}
.cc-fa-6{font-size:6em}
.cc-fa-9{font-size:9em}
.cc-fa-12{font-size:12em}
.cc-fa-01-left-dir:before{content:"\E001"}
.cc-fa-02-left-open:before{content:"\E002"}
.cc-fa-03-linkedin:before{content:"\E003"}
.cc-fa-04-ok:before{content:"\E004"}
.cc-fa-05-right-open:before{content:"\E005"}
.cc-fa-06-down-dir:before{content:"\E006"}
.cc-fa-07-twitter:before{content:"\E007"}
.cc-fa-08-facebook:before{content:"\E008"}
.cc-fa-09-right-dir:before{content:"\E009"}