@font-face{font-family:swdIcons_other;src:url(./app/assets/font/swdIcons_other.eot);src:url(./app/assets/font/swdIcons_other.eot?#iefix)format('eot'),url(./app/assets/font/swdIcons_other.woff)format('woff'),url(./app/assets/font/swdIcons_other.ttf)format('truetype'),url(./app/assets/font/swdIcons_other.svg#swdIcons_other)format('svg')}
.cc-icon:before{font-family:swdIcons_other;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;text-transform:none;font-size:14px}
.cc-icon-2:before{font-size:2em}
.cc-icon-3:before{font-size:4em}
.cc-icon-4:before{font-size:7em}
.cc-icon-5:before{font-size:12em}
.cc-icon-6:before{font-size:20em}
.cc-icon-facebook-512px:before{content:"\E001"}
.cc-icon-linkedin-512px:before{content:"\E002"}
.cc-icon-twitter-512px:before{content:"\E003"}