.swd-footer {
  position: relative; }
  .swd-footer .swd-footer-title-section h1 {
    line-height: 50px; }
  .swd-footer .swd-footer-title-section p {
    font-size: 15.63px;
    font-size: 1.563rem; }
  .swd-footer .swd-footer-title-section h1, .swd-footer .swd-footer-title-section p {
    margin-bottom: 0px; }
  .swd-footer .swd-footer-icon-section {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 50px; }
    .swd-footer .swd-footer-icon-section i {
      margin-left: 20px;
      line-height: 54px; }
  .swd-footer form {
    margin-bottom: 65px; }
  .swd-footer input {
    height: 55px; }
  .swd-footer textarea {
    height: 280px;
    border: none; }
  .swd-footer input, .swd-footer textarea {
    border: 3px solid #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .swd-footer input:focus, .swd-footer textarea:focus {
      color: #999999;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 3px solid #1578a7; }
  .swd-footer .swd-footer-spacing {
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .swd-footer .swd-footer-form-button {
    margin-bottom: 28px; }
  .swd-footer .swd-footer-form-cancel {
    display: block;
    color: #999999;
    font-size: 12.5px;
    font-size: 1.25rem;
    text-decoration: underline;
    margin-bottom: 65px; }
  .swd-footer .swd-footer-form-required {
    color: #1aa6ae;
    font-size: 12.5px;
    font-size: 1.25rem; }
  .swd-footer .swd-footer-copyright p {
    font-size: 15.63px;
    font-size: 1.563rem;
    margin-bottom: 35px; }
    .swd-footer .swd-footer-copyright p.swd-less-margin {
      margin-bottom: 5px; }
  .swd-footer .swd-footer-copyright .swd-footer-icons {
    background-color: #672b86;
    display: inline-block;
    width: 30px; }
  .swd-footer .swd-social-buttons {
    position: absolute;
    right: 0;
    top: 125px; }
    .swd-footer .swd-social-buttons a {
      padding: 0 3px;
      font-size: 18px;
      font-size: 1.8rem; }
