.swd-container {
  max-width: 1220px;
  max-width: 76.25rem;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.swd-text-align-right {
  text-align: right; }

.swd-text-align-center {
  text-align: center; }

.swd-display-inline-block {
  display: inline-block; }

.swd-dark-teal {
  background-color: #1578a7; }

.swd-teal {
  background-color: #1aa6ae; }

.swd-purple {
  background-color: #672b86; }

.swd-yellow {
  background-color: #fbd053;
  color: #333333; }

.swd-dark-grey {
  background-color: #333336;
  color: #ffffff; }

.swd-light-grey {
  background-color: #f1f2f2;
  color: #333333; }

.swd-black {
  background-color: #1f1d1d; }

.swd-get-in-touch {
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding: 12px 25px;
  -webkit-box-shadow: 0 2px 0 #1578a7;
  -moz-box-shadow: 0 2px 0 #1578a7;
  box-shadow: 0 2px 0 #1578a7;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out; }
  .swd-get-in-touch:active {
    box-shadow: 0 0 0 #1578a7;
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  .swd-get-in-touch:hover {
    background-color: #333336; }

.swd-social-padding {
  padding: 7px 18px 6px; }

.swd-section {
  padding: 125px 0; }

.swd-section-extra {
  padding: 245px 125px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.swd-fixed-height {
  height: 315px; }

.swd-fixed-height-margin-bottom {
  margin-bottom: 25px; }

.swd-process-container {
  padding: 40px 25px;
  background-color: #ffffff;
  width: 80%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.swd-postion-relative {
  position: relative; }

.swd-postion-absolute {
  position: absolute; }

.swd-align-vertical-center {
  bottom: 0;
  left: 50%;
  margin-left: -40%; }

.swd-h3-style {
  font-size: 12.5px;
  font-size: 1.25rem; }

.swd-hidden {
  display: none; }
