.swd-header {
  padding: 30px 0 20px 25px; }
  .swd-header a:visited {
    color: #ffffff;
    text-decoration: none; }
  .swd-header .swd-social-buttons a {
    padding: 0 3px;
    font-size: 18px;
    font-size: 1.8rem; }
