.swd-main-content-header {
  background: #672b86 url('../img/background-img.gif') no-repeat center center;
  background-attachment: fixed; }
  .swd-main-content-header h1 {
    font-size: 31.25px;
    font-size: 3.125rem;
    margin-bottom: 60px; }

.swd-process-container i {
  font-size: 100px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.swd-section-what-we-promise {
  background: url('../img/background-img-1.gif') no-repeat center center; }
  .swd-section-what-we-promise .swd-right-arrow {
    right: -26px;
    top: 20%;
    z-index: 1; }
    .swd-section-what-we-promise .swd-right-arrow i {
      color: #333336; }

.swd-section-what-we-promise-right {
  padding: 80px 175px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .swd-section-what-we-promise-right ul li {
    font-size: 15.63px;
    font-size: 1.563rem;
    margin-bottom: 45px;
    position: relative;
    padding-left: 40px; }
    .swd-section-what-we-promise-right ul li:before {
      content: '\f00c';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      left: -45px;
      font-size: 27.63px;
      font-size: 2.763rem; }
    .swd-section-what-we-promise-right ul li:last-child {
      margin-bottom: 0; }
  .swd-section-what-we-promise-right .swd-down-arrow {
    bottom: -47px;
    left: 50%;
    z-index: 1; }
    .swd-section-what-we-promise-right .swd-down-arrow i {
      color: #1f1d1d; }
  .swd-section-what-we-promise-right .swd-left-arrow {
    left: -26px;
    bottom: 40%;
    z-index: 1; }
    .swd-section-what-we-promise-right .swd-left-arrow i {
      color: #672b86; }

.swd-what-we-do-heading {
  margin-bottom: 0;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.swd-who-we-are img {
  margin-bottom: 45px; }
