@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600);
.open-sans-light, html, body, .pure-g [class*="pure-u"], h2, p, input, textarea, .swdHero h1, .testimonials h1, .testimonials h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.open-sans-semi-bold, .swdButton, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.open-sans-bold, h1, .swd-footer .swd-footer-copyright .swd-footer-icons {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

.cc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.swdContainer {
  max-width: 1220px;
  max-width: 76.25rem;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.swdContainer-large {
  max-width: 1700px;
  max-width: 106.3rem; }

.swdAlignRight {
  text-align: right; }

.swdAlignCenter {
  text-align: center; }

.swdInlineBlock {
  display: inline-block; }

.swdButton {
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding: 12px 25px;
  -webkit-box-shadow: 0 2px 0 #1578a7;
  -moz-box-shadow: 0 2px 0 #1578a7;
  box-shadow: 0 2px 0 #1578a7;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  display: inline-block;
  background-color: #1aa6ae; }
  .swdButton:active {
    box-shadow: 0 0 0 #1578a7;
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  .swdButton:hover {
    background-color: #333336; }

.swd-fixed-height {
  height: 315px; }

.swd-fixed-height-margin-bottom {
  margin-bottom: 25px; }

.swd-process-container {
  padding: 40px 25px;
  background-color: #ffffff;
  width: 80%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.swd-postion-relative {
  position: relative; }

.swd-postion-absolute {
  position: absolute; }

.swd-align-vertical-center {
  bottom: 0;
  left: 50%;
  margin-left: -40%; }

.swd-h3-style {
  font-size: 12px;
  font-size: 1.2rem; }

.swd-hidden {
  display: none; }

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

@-ms-viewport {
  width: device-width; }

body {
  font-size: 16px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  padding-top: 175px; }

a {
  text-decoration: none;
  color: #ffffff; }

h1 {
  font-size: 34.38px;
  font-size: 3.438rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin: 0 0 70px; }

h2 {
  font-size: 25px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin: 0 0 36px; }

h3 {
  font-size: 12.5px;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin: 0 0 25px; }

p {
  font-size: 12.5px;
  font-size: 1.25rem;
  margin: 0 0 45px;
  line-height: 35px; }

p:last-child {
  margin: 0 0 0; }

ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none; }

input, textarea {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 12.5px;
  font-size: 1.25rem; }
  input:focus, textarea:focus {
    outline: none; }

button {
  border: none;
  background-color: #1aa6ae; }

@media screen and (max-width: 47.99em) {
  body {
    padding-top: 0; } }

.swd-header {
  padding: 15px 0 15px 25px;
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  margin-top: -175px;
  z-index: 100; }
  .swd-header a:visited {
    color: #ffffff;
    text-decoration: none; }
  .swd-header .social-container {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
    .swd-header .social-container._show {
      visibility: visible;
      opacity: 1; }
  .swd-header .swdSocial {
    display: inline-block;
    background-color: #1578a7;
    padding: 10px 18px 3px; }
    .swd-header .swdSocial a {
      padding: 0 3px;
      font-size: 18px;
      font-size: 1.8rem; }

@media screen and (max-width: 47.99em) {
  .swd-header {
    margin-top: 0;
    position: relative;
    padding: 20px 0 20px 20px; }
    .swd-header .swdSocial a {
      font-size: 12px;
      font-size: 1.2rem;
      padding: 0 5px; }
    .swd-header .social-container {
      visibility: visible;
      opacity: 1; }
  .swdButton {
    font-size: 8.5px;
    font-size: 0.85rem;
    padding: 12px 15px; } }

.swd-footer {
  position: relative; }
  .swd-footer .swd-footer-title-section h1 {
    line-height: 50px; }
  .swd-footer .swd-footer-title-section p {
    font-size: 15.63px;
    font-size: 1.563rem; }
  .swd-footer .swd-footer-title-section h1, .swd-footer .swd-footer-title-section p {
    margin-bottom: 0px; }
  .swd-footer .swd-footer-icon-section {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 50px;
    position: relative;
    height: 116px; }
    .swd-footer .swd-footer-icon-section i {
      margin-left: 0;
      line-height: 54px;
      position: absolute;
      top: 38px;
      font-size: 9em; }
  .swd-footer form {
    margin-bottom: 65px; }
  .swd-footer input {
    height: 55px; }
  .swd-footer textarea {
    height: 280px;
    border: none; }
  .swd-footer input, .swd-footer textarea {
    border: 3px solid #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .swd-footer input:focus, .swd-footer textarea:focus {
      color: #999999;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 3px solid #1578a7; }
    .swd-footer input.parsley-error, .swd-footer textarea.parsley-error {
      border: 3px solid #c54545; }
  .swd-footer .parsley-errors-list li {
    margin-bottom: 20px; }
  .swd-footer .swd-footer-spacing {
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .swd-footer .swd-footer-form-button {
    margin-bottom: 28px; }
  .swd-footer .swd-footer-form-cancel {
    display: block;
    color: #999999;
    font-size: 12.5px;
    font-size: 1.25rem;
    text-decoration: underline;
    margin-bottom: 65px; }
  .swd-footer .swd-footer-form-required {
    color: #1aa6ae;
    font-size: 12.5px;
    font-size: 1.25rem; }
  .swd-footer .swd-footer-copyright p {
    font-size: 15.63px;
    font-size: 1.563rem;
    margin-bottom: 35px; }
    .swd-footer .swd-footer-copyright p.swd-less-margin {
      margin-bottom: 5px; }
  .swd-footer .swd-footer-copyright .swd-footer-icons {
    background-color: #672b86;
    display: inline-block;
    width: 30px; }
  .swd-footer .swd-footer-copyright .swd-footer-icons_extraSpaceLeft {
    margin-left: 38px; }
  .swd-footer .swdSocial {
    position: absolute;
    right: 0;
    top: 125px;
    display: inline-block;
    background-color: #1578a7;
    padding: 7px 18px 6px; }
    .swd-footer .swdSocial a {
      padding: 0 3px;
      font-size: 18px;
      font-size: 1.8rem; }

.swdBoxSlider {
  -moz-transform: translate3d(50vw, 0, 0) translateX(-50%) scale(1);
  -o-transform: translate3d(50vw, 0, 0) translateX(-50%) scale(1);
  -ms-transform: translate3d(50vw, 0, 0) translateX(-50%) scale(1);
  -webkit-transform: translate3d(50vw, 0, 0) translateX(-50%) scale(1);
  transform: translate3d(50vw, 0, 0) translateX(-50%) scale(1);
  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -ms-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;
  display: inline-block; }

.swdBoxSlider_main {
  display: inline-block; }

.swdBoxSlider_img {
  width: 320px; }

.swdBoxSlider-active {
  -moz-transform: translate3d(0vw, 0, 0) translateX(0) scale(1);
  -o-transform: translate3d(0vw, 0, 0) translateX(0) scale(1);
  -ms-transform: translate3d(0vw, 0, 0) translateX(0) scale(1);
  -webkit-transform: translate3d(0vw, 0, 0) translateX(0) scale(1);
  transform: translate3d(0vw, 0, 0) translateX(0) scale(1); }
  .swdBoxSlider-active .swdBoxSlider_img {
    width: 200px; }

@media screen and (max-width: 47.99em) {
  .swdBoxSlider {
    -moz-transform: translate3d(0vw, 0, 0) translateX(0) scale(1);
    -o-transform: translate3d(0vw, 0, 0) translateX(0) scale(1);
    -ms-transform: translate3d(0vw, 0, 0) translateX(0) scale(1);
    -webkit-transform: translate3d(0vw, 0, 0) translateX(0) scale(1);
    transform: translate3d(0vw, 0, 0) translateX(0) scale(1); }
  .swdBoxSlider_img, .swdBoxSlider-active .swdBoxSlider_img {
    width: 130px; } }

.swdSection {
  padding: 125px 0; }

.swdSection-yellow {
  background-color: #fbd053;
  color: #333333; }

.swdSection-purple {
  background-color: #672b86; }

.swdSection-darkGrey {
  background-color: #333336;
  color: #ffffff; }

.swdSection-lightGrey {
  background-color: #f1f2f2;
  color: #333333; }

.swdSection-black {
  background-color: #1f1d1d; }

.swdSection-extra {
  padding: 245px 125px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 47.99em) {
  .swdSection-extra {
    padding: 50px 15px; }
  .swdSection {
    padding: 50px 0; } }

.swdHero {
  background: #672b86 url('../img/background-img.gif') no-repeat center 300px;
  background-attachment: fixed; }
  .swdHero h1 {
    font-size: 31.25px;
    font-size: 3.125rem;
    margin-bottom: 60px;
    text-transform: none; }

.swd-process-container i {
  font-size: 100px;
  position: relative;
  top: 25%; }

.swd-section-what-we-promise {
  background: url('../img/background-img-1.gif') no-repeat center center; }
  .swd-section-what-we-promise .swd-right-arrow {
    right: -26px;
    top: 20%;
    z-index: 1; }
    .swd-section-what-we-promise .swd-right-arrow i {
      color: #333336; }
    .swd-section-what-we-promise .swd-right-arrow .cc-fa-06-down-dir {
      display: none; }
  .swd-section-what-we-promise img {
    margin: 0 auto; }

.swd-section-what-we-promise-right {
  padding: 80px 20px 80px 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .swd-section-what-we-promise-right ul {
    max-width: 660px; }
    .swd-section-what-we-promise-right ul li {
      font-size: 15.63px;
      font-size: 1.563rem;
      margin-bottom: 45px;
      position: relative;
      padding-left: 40px; }
      .swd-section-what-we-promise-right ul li:before {
        content: '\E004';
        font-family: swdfa;
        font-style: normal;
        font-weight: normal;
        position: absolute;
        left: -45px;
        font-size: 27.63px;
        font-size: 2.763rem; }
      .swd-section-what-we-promise-right ul li:last-child {
        margin-bottom: 0; }
  .swd-section-what-we-promise-right .swd-down-arrow {
    bottom: -53px;
    left: 50%;
    z-index: 1; }
    .swd-section-what-we-promise-right .swd-down-arrow i {
      color: #1f1d1d; }
  .swd-section-what-we-promise-right .swd-left-arrow {
    left: -26px;
    bottom: 40%;
    z-index: 1; }
    .swd-section-what-we-promise-right .swd-left-arrow i {
      color: #672b86; }

.swd-what-we-do-heading {
  margin-bottom: 0;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.swd-whoWeAre img {
  margin: 0 auto 45px; }

#swd-readMore {
  -webkit-transition: all 1.25s ease-in-out;
  -moz-transition: all 1.25s ease-in-out;
  -ms-transition: all 1.25s ease-in-out;
  -o-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
  max-height: 1500px;
  margin-bottom: 45px;
  opacity: 1; }
  #swd-readMore.swd-hidden {
    -webkit-transition: all 1.25s ease-in-out;
    -moz-transition: all 1.25s ease-in-out;
    -ms-transition: all 1.25s ease-in-out;
    -o-transition: all 1.25s ease-in-out;
    transition: all 1.25s ease-in-out;
    margin-bottom: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden; }

.arrow-box_down {
  position: relative;
  -webkit-transition: border-top-color 1.25s ease-in-out;
  -moz-transition: border-top-color 1.25s ease-in-out;
  -ms-transition: border-top-color 1.25s ease-in-out;
  -o-transition: border-top-color 1.25s ease-in-out;
  transition: border-top-color 1.25s ease-in-out; }
  .arrow-box_down:after, .arrow-box_down:before {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow-box_down:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 20px;
    margin-left: -20px; }
  .arrow-box_down:after, .arrow-box_down:before {
    top: 100%;
    border-top-color: #1aa6ae; }
  .arrow-box_down:hover:after {
    border-top-color: #333336; }

.arrow-box_up {
  position: relative;
  -webkit-transition: border-top-color 1.25s ease-in-out;
  -moz-transition: border-top-color 1.25s ease-in-out;
  -ms-transition: border-top-color 1.25s ease-in-out;
  -o-transition: border-top-color 1.25s ease-in-out;
  transition: border-top-color 1.25s ease-in-out; }
  .arrow-box_up:after, .arrow-box_up:before {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow-box_up:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 20px;
    margin-left: -20px; }
  .arrow-box_up:after, .arrow-box_up:before {
    bottom: 100%;
    border-bottom-color: #1aa6ae; }
  .arrow-box_up:hover:after {
    border-bottom-color: #333336; }

.swd-readBtn {
  position: relative; }
  .swd-readBtn .arrow-down {
    position: absolute;
    bottom: -18px;
    right: 36%;
    color: #1aa6ae;
    line-height: 20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1aa6ae; }
    .swd-readBtn .arrow-down:hover {
      border-top: 20px solid #333336; }

.swd-readBtn > .swd-readBtn_less > i {
  top: -20px; }

.swd-readBtn_less {
  display: none; }

.swd-activeBtn > .swd-readBtn_more {
  display: none; }

.swd-activeBtn > .swd-readBtn_less {
  display: block; }

.swd-contactForm {
  max-height: 1500px;
  -webkit-transition: all 1.25s ease-in-out;
  -moz-transition: all 1.25s ease-in-out;
  -ms-transition: all 1.25s ease-in-out;
  -o-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
  opacity: 1; }
  .swd-contactForm.swd-hidden {
    -webkit-transition: all 1.25s ease-in-out;
    -moz-transition: all 1.25s ease-in-out;
    -ms-transition: all 1.25s ease-in-out;
    -o-transition: all 1.25s ease-in-out;
    transition: all 1.25s ease-in-out;
    display: block;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden; }

@media screen and (max-width: 47.99em) {
  .swdHero {
    background: #672b86 url('../img/background-img.gif') no-repeat center top; }
    .swdHero h1 {
      font-size: 170%; }
  .swd-section-what-we-promise-right {
    padding: 80px 0; }
  .swd-what-we-do-heading {
    margin-top: 15px; }
  .swd-readBtn_more > i {
    display: none; }
  .swd-readBtn_less > i {
    display: none; } }

.swd-cards {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  margin: 0 20px;
  height: 315px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .swd-cards:hover .swd-cardsFlip {
    transform: rotateY(180deg); }
  .swd-cards.hover .swd-cardsFlip {
    transform: rotateY(180deg); }

.swd-cards_large {
  margin-bottom: 20px; }

/* flip speed goes here */
.swd-cardsFlip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.swd-cardsFront {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 15px;
  background-color: #ffffff;
  width: 100%;
  height: 315px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg); }

.swd-cardsFront > i {
  position: relative;
  top: 25%;
  left: 0;
  color: #672b86; }

.swd-cardsFront_large > i {
  font-size: 80px;
  position: relative;
  top: 25%;
  left: 0; }

/* back, initially hidden pane */
.swd-cardsBack {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 15px;
  background-color: #672b86;
  width: 100%;
  height: 315px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  transform: rotateY(180deg);
  color: #ffffff; }

@media screen and (max-width: 47.99em) {
  .swdCard {
    margin-bottom: 50px; }
  .swd-cards {
    margin: 0 0; } }

@media screen and (min-width: 48em) and (max-width: 79.938em) {
  .swdCard {
    margin-bottom: 50px; } }

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 315px;
  margin: 0 20px; }
  .flip-container.flip-container__bottom {
    margin: 0 20px 20px; }

/* START: Accommodating for IE */
.flip-container:hover .back, .flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.flip-container:hover .front, .flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/* END: Accommodating for IE */
.front, .back {
  height: 315px; }

.flipper {
  position: relative; }

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0; }

.front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  background-color: #ffffff;
  width: 100%;
  height: 315px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .front i {
    position: relative;
    top: 25%;
    left: 0;
    color: #672b86; }
    .front i.cc-icon_large {
      top: 15%; }

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 15px;
  background-color: #672b86;
  width: 100%;
  height: 315px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff; }
  .back h3 {
    margin-bottom: 5px; }
  .back p {
    line-height: 25px;
    font-size: 10px;
    font-size: 1rem; }

@media screen and (max-width: 35.499em) {
  .flip-container {
    margin: 0 0 20px 0; }
    .flip-container.flip-container__bottom {
      margin: 0 0 20px 0; } }

@media screen and (min-width: 35.5em) and (max-width: 63.938em) {
  .flip-container {
    margin: 0 10px 20px; }
    .flip-container.flip-container__bottom {
      margin: 0 10px 20px; } }

.swdAutoWidth {
  width: auto;
  margin: 0 auto 50px;
  display: block; }

.owl-dots {
  margin-bottom: 30px; }
  .owl-dots .owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #c0c0c0;
    margin-right: 2px; }
    .owl-dots .owl-dot.active {
      background-color: #fdf7ef; }

@media screen and (max-width: 47.99em) {
  h1 {
    font-size: 145%; }
  h2 {
    font-size: 135%;
    margin-bottom: 15px; }
  .swdMobileHidden {
    display: none; }
  /*.swd-contactForm, .swd-contactForm.swd-hidden {
        max-height: 1500px;
        opacity: 1;
        overflow: auto;
        transition: all 1.25s ease-in-out 0s;
        visibility: visible;
    }*/
  .swd-footer .swd-footer-title-section p {
    font-size: 115%; } }

@media screen and (max-width: 35.49em) {
  .swd-process-container {
    width: 100%;
    padding: 40px 20px; }
  .swd-align-vertical-center {
    left: 0;
    margin-left: 0; }
  .swd-fixed-height-margin-bottom {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    .swd-fixed-height-margin-bottom .swd-postion-absolute {
      position: relative; }
  .swd-section-extra {
    padding: 245px 0; }
  .swd-section-what-we-promise-right {
    padding: 80px 0; }
    .swd-section-what-we-promise-right ul li {
      padding-left: 20px;
      padding-right: 20px; }
  .swd-footer .swd-footer-copyright p {
    font-size: 10px;
    font-size: 1rem; }
  .swd-footer .swdSocial {
    display: none; } }

@media screen and (max-width: 90em) {
  .swd-section-what-we-promise-right .swd-down-arrow {
    right: auto;
    top: auto;
    bottom: -53px;
    left: 45%; } }

@media screen and (max-width: 63.99em) {
  .swd-section-what-we-promise .swd-right-arrow {
    right: auto;
    top: auto;
    bottom: -53px;
    left: 45%; }
    .swd-section-what-we-promise .swd-right-arrow .cc-fa-09-right-dir {
      display: none; }
    .swd-section-what-we-promise .swd-right-arrow .cc-fa-06-down-dir {
      display: block; }
  .swd-fixed-height {
    margin-bottom: 50px; }
  .swd-fixed-height-margin-bottom {
    margin-bottom: 25px; } }

@media screen and (max-width: 47.99em) {
  .swd-footer .swd-footer-spacing {
    padding-right: 0; }
  .swd-footer .swd-footer-title-section h1, .swd-footer .swd-footer-title-section p {
    margin-bottom: 25px; }
  .swd-footer .swd-footer-form-button {
    margin-right: 15px; }
  .swd-footer .swd-footer-form-required {
    display: none; } }

@media screen and (min-width: 48em) and (max-width: 63.99em) {
  .swd-footer .swdSocial {
    top: 57px; } }

.testimonials {
  position: relative; }
  .testimonials h1, .testimonials h2 {
    font-size: 20px;
    font-size: 2rem;
    text-transform: none;
    margin: 0 0 36px; }
  .testimonials p {
    line-height: 28px; }
  .testimonials .owl-stage-outer {
    margin-bottom: 35px; }
  .testimonials .owl-controls {
    /*.owl-prev:before, .owl-next:before {
            font-family: swdfa;
            font-style: normal;
            font-weight: normal;
            @include font-size(2.763);
        }
        
        .owl-prev {
            
            &:before {
                top: 25%;
                content: '\E002';
                left: -100px;
                position: absolute;
            }
        }
        
        .owl-next {
            
            &:before {
                top: 25%;
                content: '\E005';
                right: -100px;
                position: absolute;
            }
        }*/ }

@media screen and (max-width: 85em) {
  .testimonials h1, .testimonials h2 {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 30px;
    text-transform: none;
    margin: 0 0 15px; }
  .testimonials p {
    font-size: 12px;
    font-size: 1.2rem; } }
