@media screen and (min-width: 64em) and (max-width: 90em) {
  .swd-section-what-we-promise-right {
    padding: 80px 55px; }
    .swd-section-what-we-promise-right ul li:before {
      left: -16px; }
  .swd-footer .swd-social-buttons {
    top: 57px; } }
