$color-dark-teal-background: #1578a7;
$color-teal-background: #1aa6ae;
$color-purple-background: #672b86;
$color-yellow-background: #fbd053;
$color-black-background: #1f1d1d;
$color-dark-grey-background: #333336;
$color-light-grey-background: #f1f2f2;
$color-white-background: #ffffff;

$color-border-bottom-teal: #1578a7;
$color-border-bottom-white: #ffffff;
$color-border-bottom-red: #c54545;

$color-white-links: #ffffff;

$color-text-black: #333333;
$color-text-white: #ffffff;
$color-text-grey: #999999;
$color-text-teal: #1aa6ae;
$color-text-light-grey: #f1f2f2;
$color-text-purple: #672b86;